<style scoped src="@/assets/css_website/website.css"></style>
<template>
  <div>
    <div
      class="container mt-bottombanner"
      data-aos="zoom-in"
      data-aos-duration="1500"
    >
      <img class="bg2" src="@/assets/img_website/bg2.png" alt="" />
      <div class="bottombanner-content">
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12 col-lg-6">
            <img
              class="gambar-bottom mx-auto d-block"
              src="@/assets/img_website/laptop1.svg"
              alt=""
            />
          </div>
          <div class="col-12 col-md-12 col-sm-12 col-lg-6">
            <div class="bottomcontent-text">
              <h3 class="content-subtitle">
                Go online dan lebarkan sayap bisnis Anda
              </h3>
              <h1 class="content-title fw-bold">
                Go online dan lebarkan sayap bisnis Anda
              </h1>
              <div class="mt-5">
                <div class="mt-3">
                  <h3 class="content-title">SEO Friendly</h3>
                  <p class="content-subtitle">
                    Lebih mudah masuk Google dan search engine lain, memastikan
                    bisnis Anda lebih mudah ditemukan di internet.
                  </p>
                </div>
                <div class="mt-3">
                  <h3 class="content-title">Email dengan domain sendiri</h3>
                  <p class="content-subtitle">
                    Bisnis menjadi lebih terpercaya dengan email profesional
                    (nama@domainanda.com).
                  </p>
                </div>
                <div class="mt-3">
                  <h3 class="content-title">Mobile Optimized</h3>
                  <p class="content-subtitle">
                    Website tampil optimal di desktop, tablet, dan HP,
                    menjangkau semua gemen pelanggan.
                  </p>
                </div>
                <div class="mt-3">
                  <h3 class="content-title">Maintenance yang mudah</h3>
                  <p class="content-subtitle">
                    Kami bantu update konten, menambah halaman, upload produk,
                    dan memastikan web Anda selalu up to date.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
