<style scoped src="@/assets/css_website/website.css"></style>
<template>
  <div>
    <div class="container mt-mytable">
      <h3 class="content-title fw-bold text-center">Jangan Khawatir</h3>
      <h5 class="content-subtitle text-center">
        Kami memberikan solusi yang tepat dengan kualitas terbaik dan dengan
        biaya yang terjangkau, jangka waktu pengembangan yang cepat dan
        metodologi yang cerdas. Kami siap membantu StartUp dan UMKM untuk
        menjadi Big Enterprise
      </h5>
      <div id="specs" class="bagiantabel">
        <table class="table table-bordered border-primary mt-5">
          <thead>
            <tr>
              <th scope="col" class="table-tl" style="width: 25%">
                <span class="align-middle table-tl-text"
                  >Spesifikasi Layanan</span
                ><br /><br />
              </th>
              <th
                scope="col"
                class="header-column text-center"
                style="width: 25%"
              >
                <span class="text-header"> Basic </span><br />
                <b>IDR 99.000</b><br />/bulan
              </th>
              <th
                scope="col"
                class="header-column text-center"
                style="width: 25%"
              >
                <span class="text-header"> Pro</span><br /><b>IDR 199.000</b
                ><br />/bulan
              </th>
              <th
                scope="col"
                class="header-column text-center"
                style="width: 25%"
              >
                <span class="text-header"> Business</span><br /><b
                  >IDR 299.000</b
                ><br />/bulan
              </th>
            </tr>
          </thead>
          <tbody class="body-table">
            <tr>
              <td scope="row" class="header-row">Pembuatan Halaman Website</td>
              <td class="text-center">1 Halaman</td>
              <td class="text-center">5-10 Halaman</td>
              <td class="text-center">15 Halaman</td>
            </tr>
            <tr>
              <td scope="row" class="header-row">Basic Image Editing</td>
              <td class="text-center">5 Image</td>
              <td class="text-center">10 Image</td>
              <td class="text-center">15 Image + 1 Logo</td>
            </tr>
            <tr>
              <td scope="row" class="header-row">SEO Basic</td>
              <td class="text-center">5 Halaman</td>
              <td class="text-center">10 Halaman</td>
              <td class="text-center">15 Halaman</td>
            </tr>
            <tr>
              <td scope="row" class="header-row">Waktu Pengerjaan</td>
              <td class="text-center">3 Hari Kerja</td>
              <td class="text-center">5 Hari Kerja</td>
              <td class="text-center">14 Hari Kerja</td>
            </tr>
            <tr>
              <td scope="row" class="header-row">Hosting</td>
              <td class="text-center">1 GB</td>
              <td class="text-center">Unlimited SEED</td>
              <td class="text-center">Unlimited SEED</td>
            </tr>
            <tr>
              <td scope="row" class="header-row">Email Account</td>
              <td class="text-center">Unlimited</td>
              <td class="text-center">Unlimited</td>
              <td class="text-center">Unlimited</td>
            </tr>
            <tr>
              <td scope="row" class="header-row">SSL</td>
              <td class="text-center">Free</td>
              <td class="text-center">Free</td>
              <td class="text-center">Free</td>
            </tr>
            <tr>
              <td scope="row" class="header-row">Biaya Setup</td>
              <td class="text-center"><b>IDR 149.000</b></td>
              <td class="text-center"><b>IDR 248.000</b></td>
              <td class="text-center"><b>IDR 347.000</b></td>
            </tr>
            <tr>
              <td scope="row">
                <div class="d-flex justify-content-center mt-1">
                  <button
                    type="button"
                    class="btn1"
                    id="detail"
                    @click="detailSpesification()"
                  >
                    Spesifikasi detail
                    <span
                      ><img
                        :class="{ arrow: arrows }"
                        src="@/assets/img_website/arrow.svg"
                    /></span>
                  </button>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-2">ORDER</button>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-2">ORDER</button>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-2">ORDER</button>
                </div>
              </td>
            </tr>

            <!-- tabel maintenance -->
            <tr v-if="this.hidden === 1">
              <th colspan="4" class="table-tl">
                Maintenance
              </th>
            </tr>
            <tr v-if="this.hidden === 1">
              <td scope="row" class="header-row">
                Free update / edit exiting page
              </td>
              <td class="text-center">1 Halaman</td>
              <td class="text-center">2 Halaman</td>
              <td class="text-center">3 Halaman</td>
            </tr>
            <tr v-if="this.hidden === 1">
              <td scope="row" class="header-row">
                Tambahan update / edit existing page
              </td>
              <td class="text-center">Rp200.000/ Halaman</td>
              <td class="text-center">Rp200.000/ Halaman</td>
              <td class="text-center">Rp200.000/ Halaman</td>
            </tr>
            <tr v-if="this.hidden === 1">
              <td scope="row" class="header-row">
                Basic Image Editing
              </td>
              <td class="text-center">Rp30.000/ Image</td>
              <td class="text-center">Rp30.000/ Image</td>
              <td class="text-center">Rp30.000/ Image</td>
            </tr>
            <!-- fitur -->
            <tr v-if="this.hidden === 1">
              <th colspan="4" class="table-tl">
                Fitur
              </th>
            </tr>
            <tr v-if="this.hidden === 1">
              <td scope="row" class="header-row">
                Batasan Jumlah Halaman
              </td>
              <td class="text-center">1</td>
              <td class="text-center">10</td>
              <td class="text-center">Unlimited</td>
            </tr>
            <tr v-if="this.hidden === 1">
              <td scope="row" class="header-row align-middle">
                Multi Language
              </td>
              <td class="text-center">Rp50.000/ <br />Halaman Bahasa</td>
              <td class="text-center">Rp50.000/ <br />Halaman Bahasa</td>
              <td class="text-center">Rp50.000/ <br />Halaman Bahasa</td>
            </tr>
            <tr v-if="this.hidden === 1">
              <td scope="row" class="header-row">
                Header Slideshow
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
            </tr>
            <tr v-if="this.hidden === 1">
              <td scope="row" class="header-row">
                HD Video & Audio Player
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
            </tr>
            <tr v-if="this.hidden === 1">
              <td scope="row" class="header-row">
                SSL Security
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
            </tr>
            <tr v-if="this.hidden === 1">
              <td scope="row" class="header-row">
                Free Domain
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/no.svg"
                  alt=""
                />
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
              <td>
                <img
                  class="rounded mx-auto d-block"
                  src="@/assets/img_website/yes.svg"
                  alt=""
                />
              </td>
            </tr>
            <tr v-if="this.hidden === 1">
              <td scope="row" class="header-row align-middle">
                Custom UI/UX dan Fitur
              </td>
              <td class="text-center">Start From Rp1.900.000/ <br />Halaman</td>
              <td class="text-center">Start From Rp1.900.000/ <br />Halaman</td>
              <td class="text-center">Start From Rp1.900.000/ <br />Halaman</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
// @ is an alias to /src

export default {
  name: "Table",
  data: () => ({
    hidden: 0,
    arrows: true,
  }),
  components: {},
  methods: {
    detailSpesification: function() {
      if (this.hidden === 1) {
        this.hidden = 0;
        this.arrows = true;
      } else {
        this.hidden = 1;
        this.arrows = false;
      }
    },
  },
};
</script>
