<style scoped src="@/assets/css_menu_logo/menu_logo.css"></style>
<template>
  <div id="">
    <div class="container">
      <div class="row mt-content">
        <div class="col-md-6">
          <div class="d-flex">
            <div
              class="flex-50 text-center"
              data-aos="zoom-in"
              data-aos-duration="1500"
            >
              <img src="@/assets/img_menu_logo/waiting.svg" />
              <h5 class="title-content">KEPERCAYAAN</h5>
              <h6 class="subtitle-content">
                Dengan sistem kerja tim yang efisian dan berusaha memberi yang
                terbaik untuk klien kami.
              </h6>
            </div>
            <div
              class="flex-50 text-center"
              data-aos="zoom-in"
              data-aos-duration="1500"
            >
              <img src="@/assets/img_menu_logo/waiting.svg" />
              <h5 class="title-content">FILE MASTER</h5>
              <h6 class="subtitle-content">
                File master editable di berikan untuk mempermudah klien mencetak
                dan memperbaiki file.
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-row-content">
          <div class="d-flex">
            <div
              class="flex-50 text-center"
              data-aos="zoom-in"
              data-aos-duration="1500"
            >
              <img src="@/assets/img_menu_logo/waiting.svg" />
              <h5 class="title-content">KONSULTASI</h5>
              <h6 class="subtitle-content">
                Anda bebas konsultasi dengan tim kami agar tim kami memahami
                kebutuhan anda.
              </h6>
            </div>
            <div
              class="flex-50 text-center"
              data-aos="zoom-in"
              data-aos-duration="1500"
            >
              <img src="@/assets/img_menu_logo/waiting.svg" />
              <h5 class="title-content">GARANSI</h5>
              <h6 class="subtitle-content">
                Kami memberikan garansi kepuasan pelanggan untuk menjaga
                kualitas layanan kami.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "content",
  components: {},
};
</script>
