<style scoped src="@/assets/css_menu_logo/menu_logo.css"></style>
<template>
  <div id="">
    <div class="container mt-gallery">
      <h3 class="title-section">Our Gallery</h3>
      <h5 class="subtitle-section">
        Client yang telah percaya dengan product kami
      </h5>
      <div class="mt-5">
        <div class="d-flex" data-aos="fade-right" data-aos-duration="1500">
          <div class="flex-33">
            <img
              class="img-gallery"
              width="350"
              height="250"
              src="@/assets/img_menu_logo/galeri.svg"
            />
          </div>
          <div class="flex-33">
            <img class="img-gallery" src="@/assets/img_menu_logo/galeri.svg" />
          </div>
          <div class="flex-33">
            <img class="img-gallery" src="@/assets/img_menu_logo/galeri.svg" />
          </div>
        </div>
        <div
          class="d-flex mt-gallery-content"
          data-aos="fade-right"
          data-aos-duration="1500"
        >
          <div class="flex-33">
            <img class="img-gallery" src="@/assets/img_menu_logo/galeri.svg" />
          </div>
          <div class="flex-33">
            <img class="img-gallery" src="@/assets/img_menu_logo/galeri.svg" />
          </div>
          <div class="flex-33">
            <img class="img-gallery" src="@/assets/img_menu_logo/galeri.svg" />
          </div>
        </div>
        <div
          class="d-flex mt-gallery-content"
          data-aos="fade-right"
          data-aos-duration="1500"
        >
          <div class="flex-33">
            <img class="img-gallery" src="@/assets/img_menu_logo/galeri.svg" />
          </div>
          <div class="flex-33">
            <img class="img-gallery" src="@/assets/img_menu_logo/galeri.svg" />
          </div>
          <div class="flex-33">
            <img class="img-gallery" src="@/assets/img_menu_logo/galeri.svg" />
          </div>
        </div>
      </div>
    </div>
    <img class="mt-ellips" src="@/assets/img_menu_logo/ellips.svg" />
  </div>
</template>

<script>
export default {
  name: "gallery",
  components: {},
};
</script>
