<style scoped src="@/assets/css_menu_logo/menu_logo.css"></style>
<template>
  <div id="">
    <div class="container mt-price">
      <div class="text-center">
        <h3 class="title-section">Price</h3>
        <h5 class="subtitle-section">
          Cocok untuk, perusaan, startup dan UMKM Indonesia
        </h5>
      </div>
      <div class="row mt-5">
        <VueSlickCarousel v-bind="price" style="overflow: hidden;">
          <div
            class="col mb-3"
            data-aos="zoom-out-right"
            data-aos-duration="1500"
          >
            <div class="card card-price">
              <div class="bg-price1">
                <h4 class="text-price1">Paket Logo Basic</h4>
              </div>
              <div class="card-body card-body-price">
                <h1 class="mt-3">
                  <span class="test">Rp.</span><strong>250</strong
                  ><span class="test">rb</span>
                </h1>
                <h5 class="text-price2 mt-text-price2">2 konsep logo</h5>
                <hr />
                <h5 class="text-price2">1 x 24 jam</h5>
                <hr />
                <h5 class="text-price2">3x Revisi minimum (2 x 24 jam)</h5>
                <hr />
                <h5 class="text-price2">1x Revisi maksimum (2 x 24 jam)</h5>
                <hr />
                <h5 class="text-price2">File master</h5>
                <div class="btn btn-order mt-4">
                  <h4 class="text-order"><strong>Pesan Sekarang</strong></h4>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col mb-3"
            data-aos="zoom-out-down"
            data-aos-duration="1500"
          >
            <div class="card card-price">
              <div class="bg-price2">
                <h4 class="text-price1">Paket Logo Medium</h4>
              </div>
              <div class="card-body card-body-price">
                <h1 class="mt-3">
                  <span class="test">Rp.</span><strong>450</strong
                  ><span class="test">rb</span>
                </h1>
                <h5 class="text-price2 mt-text-price2">3 konsep logo</h5>
                <hr />
                <h5 class="text-price2">1 x 24 jam</h5>
                <hr />
                <h5 class="text-price2">3x Revisi minimum (2 x 24 jam)</h5>
                <hr />
                <h5 class="text-price2">1x Revisi maksimum (2 x 24 jam)</h5>
                <hr />
                <h5 class="text-price2">Bonus Kartu Nama</h5>
                <hr />
                <h5 class="text-price2">Bonus Desain Banner</h5>
                <hr />
                <h5 class="text-price2">File master</h5>
                <div class="btn btn-order mt-4">
                  <h4 class="text-order"><strong>Pesan Sekarang</strong></h4>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col mb-3"
            data-aos="zoom-out-left"
            data-aos-duration="1500"
          >
            <div class="card card-price">
              <div class="bg-price3">
                <h4 class="text-price1">Paket Logo PRO</h4>
              </div>
              <div class="card-body card-body-price">
                <h1 class="mt-3">
                  <span class="test">Rp.</span><strong>850</strong
                  ><span class="test">rb</span>
                </h1>
                <h5 class="text-price2 mt-text-price2">5 konsep logo</h5>
                <hr />
                <h5 class="text-price2">1 x 24 jam</h5>
                <hr />
                <h5 class="text-price2">3x Revisi minimum (2 x 24 jam)</h5>
                <hr />
                <h5 class="text-price2">1x Revisi maksimum (2 x 24 jam)</h5>
                <hr />
                <h5 class="text-price2">Bonus Kartu Nama</h5>
                <hr />
                <h5 class="text-price2">Bonus Desain Banner</h5>
                <hr />
                <h5 class="text-price2">Bonus Desain Kop Surat</h5>
                <hr />
                <h5 class="text-price2">Bonus Desain Amplop</h5>
                <hr />
                <h5 class="text-price2">File master</h5>
                <div class="btn btn-order mt-4">
                  <h4 class="text-order"><strong>Pesan Sekarang</strong></h4>
                </div>
              </div>
            </div>
          </div>
        </VueSlickCarousel>
      </div>
    </div>
    <img
      class="arrow-left-price"
      src="@/assets/img_menu_logo/arrow-left-price.svg"
    />
    <img
      class="arrow-right-price"
      src="@/assets/img_menu_logo/arrow-right-price.svg"
    />
  </div>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
export default {
  name: "price",
  data: () => ({
    price: {
      centerMode: false,
      focusOnSelect: false,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      speed: 500,
      autoplay: true,
      dots: true,
      draggable: false,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true,
          },
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            initialSlide: 2,
            centerMode: true,
            focusOnSelect: true,
            draggable: true,
          },
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            centerMode: true,
            focusOnSelect: true,
            draggable: true,
          },
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: true,
            focusOnSelect: true,
            draggable: true,
          },
        },
      ],
    },
  }),
  components: {
    VueSlickCarousel,
  },
};
</script>
