<style scoped src="@/assets/css_menu_logo/menu_logo.css"></style>
<template>
  <div id="">
    <img class="banner-why" src="@/assets/img_menu_logo/banner-why.png" />
    <div class="container mt-why" data-aos-duration="1500" data-aos="fade-up">
      <div class="row">
        <div class="col-md-6 mobile text-center">
          <img
            class="ilustrasi-why"
            src="@/assets/img_menu_logo/laptopman.svg"
          />
        </div>
        <div class="col-md-6 mt-why-text">
          <h3 class="title-section-why">Kenapa Harus Memilih Kami?</h3>
          <h5 class="subtitle-section-why">
            Unipics.co.id adalah jasa pembuatan logo yang profesional dan
            original. Kami adalah penyedia jasa buat logo yang fokus pada bidang
            design logo dari sejak pertama berdiri. Jika anda mencari jasa
            pembuatan logo murah dengan paket lengkap untuk keperluan
            perusahaan, jasa bikin logo kami adalah solusinya.
          </h5>
          <div class="btn btn-call">
            <h5 class="call">
              Call us now
              <span
                ><img src="@/assets/img_menu_logo/arrow_banner.svg" />
              </span>
            </h5>
          </div>
        </div>
        <div class="col-md-6 desktop">
          <img
            class="ilustrasi-why"
            src="@/assets/img_menu_logo/laptopman.svg"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "why",
  components: {},
};
</script>
