.top {
  width: 30%;
}

.bottom {
  width: 30%;
  float: right;
  margin-top: -385px;
}

.bottom2 {
  width: 30%;
  float: right;
  margin-top: -390px;
}

.title-section {
  color: #000000;
  font-weight: bold;
}

.subtitle-section {
  color: #555555;
  line-height: 1.5;
}

.flex-25 {
  flex: 25%;
}

.box1 {
  background-color: #e9eefb;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
}

.box2 {
  background-color: #eae8f6;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
}

.box3 {
  background-color: #f3e8f0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
}

.box4 {
  background-color: #e8eff6;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
}

.text-box {
  padding-top: 25px;
  padding-bottom: 25px;
}

.mt-box {
  margin-top: 25px;
}

.mt-box2 {
  margin-top: 15px;
}

.mt-content-order {
  margin-top: -350px;
}

.form-control {
  border: 2px solid #8146d5 !important;
}

::placeholder {
  color: #8146d5;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8146d5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8146d5;
}

.btn-back {
  width: 125px;
  height: 35px;
  border-radius: 25px;
  background: linear-gradient(270deg, #7277a2 0%, #c4c4c4 100%);
  color: #ffffff;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
  margin-right: 10px;
}

.btn-back:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.btn-preview {
  width: 125px;
  height: 35px;
  border-radius: 25px;
  background: linear-gradient(270deg, #594cca 0%, #a56fec 100%);
  color: #ffffff;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
}

.btn-preview:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.btn-send {
  width: 150px;
  height: 35px;
  border-radius: 25px;
  background: linear-gradient(270deg, #594cca 0%, #a56fec 100%);
  color: #ffffff;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
}

.btn-send:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.btn-text {
  margin-top: 0px;
}

.bg-preview {
  border: 2px solid #8146d5;
  border-radius: 5px;
}

.flex-33 {
  flex: 33%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.flex-33-b {
  flex: 33%;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 10px;
}

.img-sample {
  width: 75%;
}

.h-textarea {
  height: 5em;
}

@media (max-width: 575.98px) {
  .h-textarea {
    height: 4em;
  }

  .bottom2 {
    width: 30%;
    right: 0px;
    margin-top: 0px;
    bottom: 0px;
    position: absolute;
  }

  .flex-33 {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .flex-33-b {
    padding-bottom: 15px;
    padding-top: 10px;
  }

  .img-sample {
    width: 85%;
  }

  .m-btn {
    margin-top: -25px;
  }

  .btn-back {
    margin-left: 25%;
  }

  .box1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .box2 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .box3 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .box4 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .top {
    width: 30%;
  }

  .bottom {
    width: 30%;
    float: right;
    margin-top: 0px;
  }

  .title-section {
    font-size: 18px;
  }

  .flex-25 {
    flex: 25%;
  }

  .text-box {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 10px;
  }

  .mt-box {
    margin-top: 15px;
  }

  .mt-box2 {
    margin-top: 5px;
  }

  .mt-content-order {
    margin-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .subtitle-section {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .h-textarea {
    height: 2em;
  }

  .bottom2 {
    width: 30%;
    right: 0px;
    margin-top: 0px;
    bottom: 0px;
    position: absolute;
    z-index: -3;
  }

  .flex-33 {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .flex-33-b {
    padding-bottom: 15px;
    padding-top: 10px;
  }

  .img-sample {
    width: 85%;
  }

  .m-btn {
    margin-top: -25px;
  }

  .btn-back {
    margin-left: 50%;
  }

  .subtitle-section {
    font-size: 16px;
  }

  .box1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .box2 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .box3 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .box4 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .top {
    width: 30%;
  }

  .bottom {
    width: 30%;
    float: right;
    margin-top: -50px;
  }

  .title-section {
    font-size: 20px;
  }

  .flex-25 {
    flex: 25%;
  }

  .text-box {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .mt-box {
    margin-top: 15px;
  }

  .mt-box2 {
    margin-top: 5px;
  }

  .mt-content-order {
    margin-top: -75px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
