/* DESKTOP  */
.about {
  margin-top: 50px;
}

.bg-top1 {
  width: 100%;
  height: 650px;
  margin-left: 0;
  margin-top: 0px;
}

.container-title {
  margin-top: -450px;
  display: flex;
}

.title-about {
  font-family: "Lato";
  font-size: 64px;
  color: #7277a2;
  text-align: left;
}

.subtitle-section {
  color: #7277a1;
  width: 85%;
}

.div-subtitle {
  text-align: left !important;
}

.banner-text {
  flex: 50%;
  margin-top: -50px;
}

.banner-ilustrasi {
  flex: 50%;
  margin-top: -100px;
}
.ilustrasi {
  width: 70%;
  float: right;
  position: relative;
}
.content {
  margin-top: 200px;
  padding-left: 2%;
  font-family: "Lato";
  text-align: left;
}

.img-visi {
  margin-top: -40px;
}
.img-visi-custom {
  margin-top: -10px;
}

.title-content {
  font-size: 20px;
  margin-left: 10px;
}

.subtitle-content {
  font-size: 16px;
  margin-left: 10px;
  text-align: left;
}
.visi-misi {
  margin-top: 100px;
}
.visi-misi-title {
}
.visi-misi-subtitle {
  margin-top: 30px;
  text-align: justify;
  color: #555555;
}

.hr-about {
  border: 2px solid #8146d5;
  width: 30%;
  margin: auto;
  opacity: 1;
}
.elipse1 {
  margin-top: -300px;
  float: right;
}
.elipse2 {
  position: absolute;
  margin-top: -500px;
  z-index: -1;
}

/* our team section */
.mt-team {
  margin-top: -50px;
}
.mt-our-team {
  margin-top: -750px;
  margin-bottom: 200px;
}
.our-team-title {
  font-weight: bold;
  font-size: 28px;
  color: black;
}
.ava {
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px grey;
  width: 50%;
}
.text-name {
  text-align: center;
}
.team-name {
  color: black;
  font-weight: bold;
}

/* history */
.mt-history {
  margin-top: 100px;
}
.history-title {
  margin-top: 20px;
}

.text-kiri {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: -70px;
}

.text-kiri2 {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: -70px;
}

.text-kanan {
  margin-top: -50px;
  margin-bottom: 200px;
  margin-left: -70px;
}
.text-custom {
  margin-top: 150px;
}

.pl-content {
  padding-left: 15px !important;
}

.width-100 {
  width: 100%;
}

.text-content {
  width: 80%;
  color: #555555;
}

.mt-content2 {
  margin-top: 25px;
}

.visi {
  padding-left: 15px;
}

.mt-misi {
  margin-top: 25px;
}

.bg-our-team {
  height: 800px;
}

@media (max-width: 575.98px) {
  .about {
    margin-top: 50px;
  }

  .history-text {
    font-size: 12px;
  }

  .title-history {
    font-size: 24px !important;
  }

  .visi {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
  }

  .pl-content {
    padding-top: 10px;
  }

  .text-content {
    width: 90%;
    color: #555555;
  }

  .mt-content2 {
    margin-top: 0px;
  }

  .bg-top1 {
    width: 100%;
    height: 250px;
  }
  .container-title {
    margin-top: -350px;
  }
  .banner-text {
    flex: 60%;
    margin-top: 150px;
    margin-left: 20px;
  }
  .banner-ilustrasi {
    flex: 40%;

    margin-top: 150px;
  }
  .ilustrasi {
    width: 100%;
    margin-top: 0px;
  }
  .title-about {
    font-size: 20px;
  }
  .subtitle-section {
    text-align: justify;
    font-size: 10px;
  }

  .content {
    width: 100%;
    margin-top: 80px;
    padding-left: 10%;
  }
  .img-visi {
    width: 10%;
  }
  .title-content {
    font-size: 16px;
    margin-left: 10px;
  }

  .subtitle-content {
    font-size: 14px;
  }

  .img-visi-custom {
    width: 31.5px;
  }
  .visi-misi-title {
    font-size: 24px;
  }
  .visi-misi {
    margin-top: 50px;
  }
  .visi-misi-subtitle {
    font-size: 14px;
  }

  .visi-misi-subtitle-custom {
    font-size: 10px;
    margin-left: -12px;
  }

  .elipse1 {
    margin-top: -400px;
    width: 100px;
  }
  .elipse2 {
    margin-top: -360px;

    width: 100px;
  }

  /* our team */
  .bg-our-team {
    width: 100%;
    height: 850px;
  }
  .mt-team {
    margin-top: 50px;
  }
  .mt-our-team {
    margin-top: -1100px;
  }
  .our-team-title {
    font-weight: bold;
    color: black;
    font-size: 24px;
    margin-top: 300px;
  }
  .ava {
    width: 120px;
  }

  .team-name {
    font-size: 16px;
  }
  .team-pos {
    font-size: 14px;
    color: #555555;
  }
  /* history */
  .mt-history {
    margin-top: 50px;
  }

  .mt-history h3 {
    font-size: 14px;
  }
  .history-title {
    margin-top: 10px;
    font-size: 12px;
  }
  .pohon {
    height: 575px;
  }
  .text-kiri {
    margin-top: 125px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .text-kiri2 {
    margin-top: 35px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .text-kanan {
    margin-top: -10px;
    margin-left: 0px;
    margin-bottom: 40px;
    font-size: 8px;
  }
  .ellips {
    width: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .about {
    margin-top: 65px;
  }

  .mt-team {
    margin-top: 50px;
  }

  .history-text {
    font-size: 14px;
  }

  .title-history {
    font-size: 24px !important;
  }

  .visi {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 16px;
  }

  .pl-content {
    padding-top: 10px;
  }

  .text-content {
    width: 100%;
    color: #555555;
  }

  .mt-content2 {
    margin-top: 0px;
  }

  .bg-top1 {
    width: 100%;
    height: 350px;
  }
  .container-title {
    margin-top: -450px;
  }
  .banner-text {
    flex: 60%;
    margin-top: 150px;
    width: 100%;
  }
  .banner-ilustrasi {
    flex: 40%;
    margin-top: 130px;
  }
  .ilustrasi {
    width: 100%;
    height: 200px;
  }
  .title-about {
    font-size: 28px;
  }
  .subtitle-section {
    padding-right: 0px;
    font-size: 14px;
    text-align: left;
    color: #7277a1;
  }

  .title-content {
    font-size: 18px;
    margin-left: 10px;
  }

  .content {
    margin-top: 130px;
    padding-left: 5%;
  }
  .subtitle-content {
    font-size: 16px;
  }
  .elipse1 {
    position: absolute;
    margin-top: -300px;
    width: 200px;
    margin-left: 400px;
    z-index: -1;
  }
  .img-visi {
    width: 30px;
    margin-top: -30px;
  }
  .img-visi-custom {
    margin-top: -19px;
    width: 30px;
  }
  .visi-misi {
    margin-top: 50px;
  }
  .visi-misi-title {
    font-size: 24px;
  }
  .bg-our-team {
    height: 650px;
  }

  .mt-our-team {
    margin-top: -590px;
    margin-bottom: 200px;
  }
  .our-team-title {
    font-weight: bold;
    font-size: 26px;
    color: black;
  }
  .ava {
    width: 110px;
  }

  .mt-history {
    margin-top: 50px;
  }
  .mt-history h3 {
    font-size: 14px;
  }
  .history-title {
    margin-top: 14px;
    font-size: 14px;
  }
  .pohon {
    height: 575px;
  }
  .text-kiri {
    margin-top: 125px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .text-kiri2 {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .text-kanan {
    margin-top: -10px;
    margin-left: 0px;
    margin-bottom: 40px;
    font-size: 8px;
  }
  .ellips {
    width: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
.bg-top1{
  height: 350px;
}
.container-title{
  margin-top: -195px;
}
.about{
  margin-top: 65px;
}
.banner-text{
  margin-top: -130px;
  padding-right: 0px;
}

.subtitle-section {
  color: #7277a1;
  width: 100%;
}
.title-about{
  font-size: 24px;
}
.subtitle-section{
  font-size: 16px;
}
.banner-text{
  margin-top: -90px;
}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
.container-title{
  margin-top: -300px;
}


}