@font-face {
  font-family: "Lato";
  src: local("Lato"), url(../fonts/Lato-Regular.ttf) format("truetype");
}

#app {
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.router-link-exact-active > h6 {
  color: #eb24ca;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  padding-top: 25px;
  margin-bottom: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.topnav a {
  float: left;
  display: block;
  color: #065b91;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Lato";
}

.shadow-header {
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2) !important;
}

.float {
  float: right;
}

/* .topnav a.active {
} */

.topnav .icon {
  display: none;
}

.text-navbar {
  color: #7277a1;
  padding-bottom: 10px;
  cursor: pointer;
  color: #065b91;
  font-weight: 700;
}

.active {
  color: #eb24ca;
}

.text-navbar:hover {
  color: #eb24ca;
}

.logo {
  width: 125px;
  margin-top: -10px;
  cursor: pointer;
}

.logo:hover {
  border-bottom: 0px solid #7277a1;
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.btn-login {
  width: 100px;
  height: 32px;
  border-radius: 25px;
  background: linear-gradient(90deg, #f87097 0%, #fa9d99 100%);
}

.btn:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.login {
  color: #fff;
  padding-bottom: 10px;
}

@media (max-width: 575.98px) {
  .pb-nav {
    margin-bottom: 25px;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav .float {
    display: none;
  }

  .topnav.responsive .float {
    display: block;
    animation: fadeIn 5s ease-in both;
  }

  .topnav a.icon {
    float: right;
    display: block;
    cursor: pointer;
    margin-right: 5px;
    margin-top: -5px;
  }

  .topnav.responsive {
    position: fixed;
    top: 0;
    width: 100% !important;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 12px;
    top: 25px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .float {
    float: left;
  }

  .menu {
    width: 28px;
  }

  .menu:hover {
    scale: 1.015;
    -ms-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    -o-transform: scale(1.015);
  }

  .topnav a {
    padding: 8px 10px;
  }

  .text-navbar {
    color: #7277a1;
    padding-bottom: 0px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .pb-nav {
    margin-bottom: 25px;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav .float {
    display: none;
  }

  .topnav.responsive .float {
    display: block;
  }

  .topnav a.icon {
    float: right;
    display: block;
    cursor: pointer;
    margin-right: 5px;
    margin-top: -5px;
  }

  .topnav.responsive {
    position: relative;
    position: fixed;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 75px;
    top: 25px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .float {
    float: left;
  }

  .menu {
    width: 28px;
  }

  .menu:hover {
    scale: 1.015;
    -ms-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    -o-transform: scale(1.015);
  }

  .topnav a {
    padding: 8px 10px;
  }

  .text-navbar {
    color: #7277a1;
    padding-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .pb-nav {
    margin-bottom: 25px;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav .float {
    display: none;
  }

  .topnav.responsive .float {
    display: block;
  }

  .topnav a.icon {
    float: right;
    display: block;
    cursor: pointer;
    margin-right: 5px;
    margin-top: -5px;
  }

  .topnav.responsive {
    position: relative;
    position: fixed;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 36px;
    top: 25px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .float {
    float: left;
  }

  .menu {
    width: 28px;
  }

  .menu:hover {
    scale: 1.015;
    -ms-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    -o-transform: scale(1.015);
  }

  .topnav a {
    padding: 8px 10px;
  }

  .text-navbar {
    color: #7277a1;
    padding-bottom: 0px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
}
@media (min-width: 1200px) {
}
