@font-face {
  font-family: "Lato";
  src: local("Lato"), url(../fonts/Lato-Regular.ttf) format("truetype");
}

.home {
  margin-top: 50px;
}

.banner {
  float: right;
  width: 75%;
  margin-top: -550px;
}

.text-banner {
  padding-top: 15%;
  width: 50%;
}

.title-banner {
  font-weight: bold;
  font-family: "Lato";
  font-size: 64px;
  text-align: left;
  color: #000;
}

.subtitle-banner {
  text-align: left;
  line-height: 1.5;
}

.btn-service {
  width: 360px;
  height: 50px;
  background: linear-gradient(270deg, #594cca 0%, #a56fec 100%);
  border-radius: 25px;
  margin-top: 25px;
  float: left;
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2) !important;
}

.btn-service:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.service {
  color: #fff;
  margin-top: 5px;
}

.section-our-project {
  margin-top: 300px;
}

.title-section {
  color: #000000;
  font-weight: bold;
}

.subtitle-section {
  color: #555555;
  line-height: 1.5;
}

.title-service {
  text-align: left;
  color: #000000;
}

.title-project {
  color: #000000;
  font-weight: bold;
  margin-left: 50px;
  text-align: left !important;
}

.title-browse {
  color: #000000;
  font-weight: bold;
  margin-left: 50px;
  text-align: left !important;
}

.subtitle-project {
  text-align: left;
  color: #000000;
  margin-left: 50px;
}

.subtitle-project2 {
  text-align: right;
  color: #8146d5;
}

.subtitle-project2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mt-project1 {
  margin-top: -450px;
  text-align: center;
}

.mt-project2 {
  margin-top: -650px;
  text-align: center;
}

.mt-col-project1 {
  margin-top: 100px;
  text-align: center;
}

.mt-col-project2 {
  text-align: center;
}

.mt-col-project3 {
  margin-top: 100px;
  text-align: center;
}

.mt-phone {
  margin-top: 225px;
  text-align: center;
}

.mt-ellips {
  margin-top: -750px;
  z-index: -1;
  position: relative;
}

.mt-browse {
  float: right;
  margin-top: -100px;
}

.btn-browse:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.btn-touch:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.mt-service {
  margin-top: 100px;
}

.card-service {
  margin-left: -25px;
}

.mt-text-service {
  margin-top: -235px;
  margin-left: 25px;
}

.text-service {
  color: #656565;
  margin-top: 25px;
}

.mt-our-service {
  margin-top: -375px;
}

.bg-our-service {
  width: 75%;
  height: 450px;
}

.identity-text {
  flex: 33%;
}
.identity-table {
  text-decoration: none;
  flex: 70%;
  margin-left: 130px;
}
.identity-table a {
  text-decoration: none;
}
.table-title {
  color: #8146d5;
}
.footer-icon {
  margin-top: 50px;
  margin-bottom: 10px;
}

.mt-niche {
  margin-top: 260px;
}

.content-niche {
  flex: 20%;
  text-align: center;
}

/* Technology Tech */
.content-tech {
  flex: 20%;
  width: 10%;
  text-align: center;
}

.img-tech {
  width: 60%;
}

.text-niche {
  color: #555555;
  margin-top: 5px;
}

.img-niche {
  width: 25%;
}

.ellips-niche {
  float: right;
  margin-top: -300px;
}

.mt-techno {
  margin-top: 125px;
}

.flex-wd {
  width: 60%;
  margin: 0 auto;
}

.subtitle-techno {
  color: #555555;
  line-height: 1.5;
}

.text-techno1 {
  flex: 25%;
}

.text-techno2 {
  flex: 40%;
  text-align: right;
}
.text-techno3 {
  flex: 35%;
  text-align: right;
}

.mt-company {
  margin-top: 125px;
}

.mt-slider-company {
  margin-top: 50px;
}

.bg-touch {
  background-color: #363540;
  width: 100%;
}

.title-touch {
  color: #fff;
  font-weight: bold;
}

.subtitle-touch {
  color: #fff;
}

.get-in-touch {
  color: #fff;
  text-align: right;
  padding-top: 25px;
}

.get-in-touch:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mt-culture {
  margin-top: 100px;
}

.culture {
  color: #8146d5;
  margin-top: 50px;
}

.culture:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mt-text-culture {
  margin-top: 100px;
}

.subtitle-text-culture {
  width: 400px;
  margin-top: 50px;
}

.card-testi {
  width: 50%;
  height: 100%;
  text-align: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px;
}

.card-testi:hover {
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2) !important;
}

.img-card-testi {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 15px;
}

.img-testi {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.text-card-testi {
  color: #555555;
  text-align: left;
  line-height: 1.75;
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
  padding-right: 25px;
}

.name-card-testi {
  color: #8146d5;
  text-align: left;
  line-height: 1.75;
  font-weight: bold;
}

.hr-card-testi {
  width: 50%;
  height: 3px;
  background-color: #8146d5;
  opacity: 1;
  margin-top: 25px;
}

.quote {
  float: right;
  margin-right: 125px;
  margin-top: -300px;
  position: relative;
}

.text-testi {
  color: #555555;
  text-align: left;
  margin-top: 10px;
  line-height: 1.5;
}

.name-testi {
  color: #8146d5;
  text-align: left;
  font-weight: bold;
  margin-top: 25px;
}

.mt-testi {
  margin-top: 50px;
  display: block;
}

.testi-clone-1 {
  margin-top: 150px;
  position: relative;
  margin-left: -50px;
  opacity: 0.5;
}

.testi-clone-2 {
  margin-top: 700px;
  position: relative;
  margin-left: -100px;
  opacity: 0.5;
}

.testi-clone-3 {
  margin-top: 0px;
  position: relative;
  margin-left: -325px;
  opacity: 0.5;
}

.testi-clone-4 {
  margin-top: 550px;
  position: relative;
  margin-left: -625px;
  opacity: 0.8;
}

.mt-clone {
  margin-top: -250px;
  display: block;
}

.mt-testi-all {
  margin-top: -600px;
  margin-bottom: 100px;
}

@media (max-width: 575.98px) {
  .home {
    margin-top: 0px;
  }

  .quote {
    float: right;
    margin-right: 50px;
    margin-top: -525px;
    position: relative;
  }

  .mt-testi-all {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mt-testi {
    display: none;
  }
  .card-testi {
    width: 90%;
  }
  .mt-clone {
    display: none;
  }

  .footer {
    margin-top: 25px;
  }

  .culture {
    color: #8146d5;
    margin-top: 25px;
  }

  .subtitle-text-culture {
    width: 100%;
    margin-top: 0px;
  }

  .mt-text-culture {
    margin-top: 0px;
  }

  .title-touch {
    text-align: center;
  }

  .subtitle-touch {
    text-align: center;
  }
  .get-in-touch {
    text-align: center;
  }
  .title-browse {
    text-align: right !important;
  }
  .btn-browse {
    width: 10%;
  }

  .btn-touch {
    width: 10%;
  }

  .mt-slider-company {
    margin-top: 0px;
  }
  .mt-company {
    margin-top: 100px;
  }

  .mt-table {
    margin-top: 25px;
  }
  .mt-techno {
    margin-top: 100px;
  }

  .subtitle-techno {
    font-size: 16px;
  }

  .ellips-niche {
    margin-top: -175px;
    width: 50%;
  }

  .banner {
    float: right;
    width: 100%;
    margin-top: -410px;
  }

  .text-banner {
    padding-top: 55%;
    width: 100%;
  }

  .title-banner {
    font-weight: bold;
    font-family: "Lato";
    font-size: 32px;
    text-align: left;
    color: #000;
    width: 50%;
  }

  .subtitle-banner {
    font-size: 16px;
  }

  .service {
    font-size: 18px;
    margin-top: 7px;
  }

  .btn-service {
    width: 100%;
  }

  .section-our-project {
    margin-top: 200px;
  }

  .subtitle-section {
    font-size: 16px;
  }

  .mt-col-project1 {
    margin-top: 0px;
  }

  .mt-col-project2 {
    margin-top: 50px;
    text-align: center;
  }

  .mt-col-project3 {
    margin-top: 50px;
  }

  .mt-project1 {
    margin-top: -250px;
  }

  .mt-project2 {
    margin-top: -375px;
  }

  .mt-phone {
    margin-top: 100px;
  }

  .mt-ellips {
    display: none;
  }

  .mt-browse {
    float: none;
    margin-top: 25px;
  }

  .bg-our-service {
    width: 100%;
    height: 800px;
  }

  .mt-card-service {
    margin-top: 50px;
  }

  .card-service {
    margin-left: 0px;
    width: 100%;
  }

  .mt-our-service {
    margin-top: -750px;
  }

  .mt-text-service {
    margin-top: -210px;
    margin-left: 50px;
  }

  .mt-niche {
    margin-top: 150px;
  }

  .text-niche {
    font-size: 12px;
  }

  .img-niche {
    width: 40%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .quote {
    float: right;
    margin-right: 50px;
    margin-top: -525px;
    position: relative;
  }

  .mt-testi-all {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mt-testi {
    display: none;
  }
  .card-testi {
    width: 75%;
  }
  .mt-clone {
    display: none;
  }
  .footer {
    margin-top: 25px;
  }

  .culture {
    color: #8146d5;
    margin-top: 25px;
  }
  .subtitle-text-culture {
    width: 100%;
    margin-top: 0px;
  }

  .mt-text-culture {
    margin-top: 0px;
  }

  .btn-browse {
    width: 10%;
  }

  .btn-touch {
    width: 6%;
  }
  .mt-slider-company {
    margin-top: 0px;
  }
  .mt-table {
    margin-top: 25px;
  }
  .subtitle-techno {
    font-size: 16px;
  }
  .ellips-niche {
    margin-top: -250px;
    width: 50%;
  }

  .banner {
    float: right;
    width: 75%;
    margin-top: -360px;
  }

  .text-banner {
    padding-top: 55%;
    width: 50%;
  }

  .title-banner {
    font-weight: bold;
    font-family: "Lato";
    font-size: 32px;
    text-align: left;
    color: #000;
    width: 50%;
  }

  .subtitle-banner {
    font-size: 16px;
  }

  .service {
    font-size: 18px;
    margin-top: 7px;
  }

  .btn-service {
    width: 300px;
  }

  .section-our-project {
    margin-top: 200px;
  }

  .subtitle-section {
    font-size: 16px;
  }

  .mt-col-project1 {
    margin-top: 0px;
  }

  .mt-col-project2 {
    margin-top: 50px;
    text-align: center;
  }

  .mt-project1 {
    margin-top: -375px;
  }

  .mt-project2 {
    margin-top: -550px;
  }

  .mt-phone {
    margin-top: 100px;
  }

  .mt-col-project3 {
    margin-top: 100px;
  }

  .mt-row2 {
    margin-top: 50px;
  }

  .mt-browse {
    float: right;
    margin-top: 25px;
  }

  .bg-our-service {
    width: 100%;
    height: 900px;
  }

  .mt-card-service {
    margin-top: 50px;
  }

  .mt-our-service {
    margin-top: -850px;
  }

  .mt-niche {
    margin-top: 200px;
  }

  .text-niche {
    font-size: 16px;
  }

  .img-niche {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .get-in-touch {
    margin-top: 5%;
  }

  .text-testi {
    font-size: 16px;
  }

  .img-testi {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .techno {
    width: 100%;
  }

  .text-service {
    margin-top: 0px;
  }

  .mt-text-service {
    margin-top: -155px;
    margin-left: 0px;
  }

  .title-service {
    font-size: 18px;
  }

  .card-service {
    width: 120%;
  }

  .title-project {
    font-size: 20px;
    width: 75%;
  }

  .subtitle-project {
    font-size: 14px;
  }

  .quote {
    float: right;
    margin-right: 50px;
    margin-top: -525px;
    position: relative;
  }

  .mt-testi-all {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mt-testi {
    display: block;
  }
  .card-testi {
    width: 100%;
  }
  .mt-clone {
    display: none;
  }
  .footer {
    margin-top: 25px;
  }

  .culture {
    color: #8146d5;
    margin-top: 25px;
  }
  .subtitle-text-culture {
    width: 100%;
    margin-top: 0px;
  }

  .mt-text-culture {
    margin-top: 0px;
  }

  .btn-browse {
    width: 10%;
  }

  .btn-touch {
    width: 10%;
  }
  .mt-slider-company {
    margin-top: 0px;
  }
  .mt-table {
    margin-top: 0px;
  }
  .subtitle-techno {
    font-size: 16px;
  }
  .ellips-niche {
    margin-top: -250px;
    width: 50%;
  }

  .banner {
    float: right;
    width: 75%;
    margin-top: -360px;
  }

  .text-banner {
    padding-top: 15%;
    width: 50%;
  }

  .title-banner {
    font-weight: bold;
    font-family: "Lato";
    font-size: 32px;
    text-align: left;
    color: #000;
    width: 50%;
  }

  .subtitle-banner {
    font-size: 16px;
  }

  .service {
    font-size: 18px;
    margin-top: 7px;
  }

  .btn-service {
    width: 300px;
  }

  .section-our-project {
    margin-top: 200px;
  }

  .subtitle-section {
    font-size: 16px;
  }

  .mt-col-project1 {
    margin-top: 0px;
  }

  .mt-col-project2 {
    margin-top: 50px;
    text-align: center;
  }

  .mt-project1 {
    margin-top: -250px;
  }

  .mt-project2 {
    margin-top: -350px;
  }

  .mt-phone {
    margin-top: 100px;
  }

  .mt-col-project3 {
    margin-top: 100px;
  }

  .mt-row2 {
    margin-top: -50px;
  }

  .mt-browse {
    float: right;
    margin-top: 25px;
  }

  .bg-our-service {
    width: 100%;
    height: 300px;
  }

  .mt-card-service {
    margin-top: 0px;
  }

  .mt-our-service {
    margin-top: -250px;
  }

  .mt-niche {
    margin-top: 150px;
  }

  .text-niche {
    font-size: 16px;
  }

  .img-niche {
    width: 40%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .get-in-touch {
    margin-top: 5%;
  }

  .text-testi {
    font-size: 16px;
  }

  .img-testi {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .techno {
    width: 100%;
  }

  .text-service {
    margin-top: 0px;
  }

  .mt-text-service {
    margin-top: -155px;
    margin-left: 0px;
  }

  .title-service {
    font-size: 18px;
  }

  .card-service {
    width: 120%;
  }

  .title-project {
    font-size: 20px;
    width: 75%;
  }

  .subtitle-project {
    font-size: 14px;
  }

  .quote {
    float: right;
    margin-right: 50px;
    margin-top: -525px;
    position: relative;
  }

  .mt-testi-all {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mt-testi {
    display: block;
  }
  .card-testi {
    width: 100%;
  }
  .mt-clone {
    display: none;
  }
  .footer {
    margin-top: 25px;
  }

  .culture {
    color: #8146d5;
    margin-top: 25px;
  }
  .subtitle-text-culture {
    width: 100%;
    margin-top: 0px;
  }

  .mt-text-culture {
    margin-top: 0px;
  }

  .btn-browse {
    width: 10%;
  }

  .btn-touch {
    width: 10%;
  }
  .mt-slider-company {
    margin-top: 0px;
  }
  .mt-table {
    margin-top: 0px;
  }
  .subtitle-techno {
    font-size: 16px;
  }
  .ellips-niche {
    margin-top: -250px;
    width: 50%;
  }

  .banner {
    float: right;
    width: 75%;
    margin-top: -360px;
  }

  .text-banner {
    padding-top: 15%;
    width: 50%;
  }

  .title-banner {
    font-weight: bold;
    font-family: "Lato";
    font-size: 32px;
    text-align: left;
    color: #000;
    width: 50%;
  }

  .subtitle-banner {
    font-size: 16px;
  }

  .service {
    font-size: 18px;
    margin-top: 7px;
  }

  .btn-service {
    width: 300px;
  }

  .section-our-project {
    margin-top: 200px;
  }

  .subtitle-section {
    font-size: 16px;
  }

  .mt-col-project1 {
    margin-top: 0px;
  }

  .mt-col-project2 {
    margin-top: 50px;
    text-align: center;
  }

  .mt-project1 {
    margin-top: -250px;
  }

  .mt-project2 {
    margin-top: -350px;
  }

  .mt-phone {
    margin-top: 100px;
  }

  .mt-col-project3 {
    margin-top: 100px;
  }

  .mt-row2 {
    margin-top: -50px;
  }

  .mt-browse {
    float: right;
    margin-top: 25px;
  }

  .bg-our-service {
    width: 100%;
    height: 300px;
  }

  .mt-card-service {
    margin-top: 0px;
  }

  .mt-our-service {
    margin-top: -250px;
  }

  .mt-niche {
    margin-top: 150px;
  }

  .text-niche {
    font-size: 16px;
  }

  .img-niche {
    width: 40%;
  }
}
@media (min-width: 1200px) {
}
