#website {
  margin-top: 50px;
}

.bg-top {
  width: 100%;
  height: 650px;
}

.banner {
  margin-top: -500px;
}
.flex-50 {
  flex: 50%;
}

.title-banner {
  font-size: 64px;
  font-weight: bold;
}

.subtitle-banner {
  font-size: 48px;
}

.img-banner {
  float: right;
  margin-top: -50px;
  width: 50%;
}

.solution-mt {
  margin-top: 300px;
  margin-bottom: 400px;
}
.content-title {
  color: black;
  font-size: 28px;
}
.content-subtitle {
  color: #555555;
  font-size: 20px;
}
.layanan-mt {
  margin-bottom: 100px;
}
.circle {
  margin-top: -600px;
  margin-left: 1000px;
  width: 250px;
}

/* tabel */
.bagiantabel {
  overflow-x: auto;
}
.table-tl {
  background-color: #73abe2;
}
.header-column {
  background-color: #a1bced;
}
.header-row {
  background-color: #dddeed;
}
.text-header {
  color: #0a5e94;
}
.btn-2 {
  background: linear-gradient(90deg, #73abe2 5%, #065b91 100%);
  border-radius: 8px;
  box-shadow: 0px 3px 5px grey;
  color: white;
}
.btn1 {
  border-radius: 8px;
  border: 1px #065b91 solid;
  color: #065b91;
  background-color: white;
}
.btn1:hover {
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.btn-2:hover {
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}
/* bottom */
.bg2 {
  width: 100%;
  height: 800px;
}
.bottomcontent-text {
  margin-left: -10px;
}
.bottombanner-content {
  margin-top: -720px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 150px;
}
.bottomcontent-text {
  margin-left: -10px;
}

.mt-bottombanner {
  margin-bottom: 200px;
  margin-top: 100px;
}

.arrow {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
/* mobile */
@media (max-width: 575.98px) {
  #website {
    margin-top: 50px;
  }

  .bg-top {
    height: 250px;
  }
  .title-banner {
    font-size: 24px;
  }

  .subtitle-banner {
    font-size: 18px;
  }

  .img-banner {
    width: 75%;
    margin-top: -10px;
  }
  .banner {
    margin-top: -200px;
  }
  .solution-mt {
    margin-top: 100px;
  }
  .content-title {
    color: black;
    font-size: 24px;
  }
  .content-subtitle {
    color: #555555;
    font-size: 16px;
  }
  .circle {
    position: absolute;
    margin-top: -380px;
    margin-left: 250px;
    width: 150px;
    z-index: -1;
  }
  .layanan-img {
    width: 100px;
  }
  .layanan-caption {
    font-size: 12px;
  }
  /* tabel */
  .bagiantabel {
    overflow-x: auto;
  }
  .table-title {
    font-size: 16px;
  }
  .table-subtitle {
    font-size: 12px;
  }
  .table-tl {
    font-size: 12px;
  }

  .text-header {
    font-size: 12px;
  }
  .header-column {
    font-size: 12px;
    padding-bottom: 15px;
  }
  .body-table {
    font-size: 12px;
    vertical-align: middle;
  }

  /* bottom */
  .bg2 {
    height: 1000px;
  }
  .bottombanner-content {
    margin-top: -950px;
  }
  .gambar-bottom {
    width: 80%;
  }
  .title-text {
    font-size: 24px;
  }
  .title-text-header {
    font-size: 12px;
  }
  .content-title {
    font-size: 24px;
  }
  .content-subtitle {
    font-size: 16px;
  }
  .bottomcontent-text {
    margin-top: 30px;
  }

  .mt-bottombanner {
    margin-bottom: 100px;
    margin-top: 50px;
  }
}
/* mobile landscape */
@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-top {
    width: 100%;
    height: 300px;
  }
  .banner {
    margin-top: -250px;
  }
  #website {
    margin-top: 65px;
  }

  .title-banner {
    font-size: 32px;
  }

  .subtitle-banner {
    font-size: 24px;
  }

  .img-banner {
    width: 75%;
    margin-top: -20px;
  }
  .solution-mt {
    margin-top: 100px;
  }
  .content-title {
    color: black;
    font-size: 24px;
  }
  .content-subtitle {
    color: #555555;
    font-size: 18px;
  }
  .layanan-img {
    width: 100px;
  }
  .layanan-caption {
    font-size: 12px;
  }
  .circle {
    position: absolute;
    margin-top: -250px;
    margin-left: 450px;
    width: 150px;
    z-index: -1;
  }
  /* tabel */
  .bagiantabel {
    overflow-x: auto;
  }
  .table-title {
    font-size: 16px;
  }
  .table-subtitle {
    font-size: 12px;
  }
  .table-tl {
    font-size: 12px;
  }

  .title-banner {
    font-size: 32px;
  }

  .subtitle-banner {
    font-size: 24px;
  }

  .img-banner {
    width: 75%;
    margin-top: -20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #website {
    margin-top: 196px;
  }

  .bg-top {
    height: 350px;
  }
  .title-banner {
    font-size: 24px;
  }

  .subtitle-banner {
    font-size: 18px;
  }

  .img-banner {
    width: 60%;
    margin-top: -80px;
  }
  .banner {
    margin-top: -250px;
  }
  .solution-mt {
    margin-top: 150px;
  }
  .content-title {
    color: black;
    font-size: 24px;
  }
  .content-subtitle {
    color: #555555;
    font-size: 16px;
  }
  .circle {
    margin-top: -350px;
    margin-left: 550px;
    width: 150px;
  }
  .layanan-img {
    width: 100px;
  }
  .layanan-caption {
    font-size: 12px;
  }
  /* tabel */
  .bagiantabel {
    overflow-x: auto;
  }
  .table-title {
    font-size: 16px;
  }
  .table-subtitle {
    font-size: 12px;
  }
  .table-tl {
    font-size: 12px;
  }

  .title-banner {
    font-size: 32px;
  }

  .subtitle-banner {
    font-size: 24px;
  }

  .img-banner {
    width: 75%;
    margin-top: -20px;
  }
  .gambar-bottom {
    width: 200px;
  }
  .bg2 {
    height: 900px;
  }
  .bottomcontent-text {
    margin-top: 30px;
    font-size: 12px;
  }
  .bottombanner-content {
    margin-top: -850px;
  }
}

/* ipad landscape */
@media (min-width: 768px) and (max-width: 991.98px) {
  #website {
    margin-top: 196px;
  }

  .bg-top {
    margin-top: -130px;
    height: 300px;
  }
  .title-banner {
    font-size: 24px;
  }

  .subtitle-banner {
    font-size: 18px;
  }

  .img-banner {
    width: 55%;
    margin-top: -60px;
  }
  .banner {
    margin-top: -200px;
  }
  .solution-mt {
    margin-top: 80px;
  }
  .content-title {
    color: black;
    font-size: 24px;
  }
  .content-subtitle {
    color: #555555;
    font-size: 16px;
  }
  .circle {
    margin-top: -250px;
    margin-left: 550px;
    width: 150px;
  }
  .layanan-img {
    width: 100px;
  }
  .layanan-caption {
    font-size: 12px;
  }
  /* tabel */
  .bagiantabel {
    overflow-x: auto;
  }
  .table-title {
    font-size: 16px;
  }
  .table-subtitle {
    font-size: 12px;
  }
  .table-tl {
    font-size: 12px;
  }
  .bg2 {
    height: 900px;
  }
  .mt-bottombanner {
    margin-bottom: 100px;
    margin-top: 50px;
  }
  .gambar-bottom {
    margin-top: -100px;
    margin-bottom: 50px;
    width: 250px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #website {
    margin-top: 90px;
  }
  .banner {
    margin-top: -250px;
  }
  .bg-top {
    height: 350px;
  }
  .title-banner {
    font-size: 26px;
  }

  .subtitle-banner {
    font-size: 20px;
  }

  .img-banner {
    width: 50%;
    margin-top: -80px;
  }

  .solution-mt {
    margin-top: 150px;
  }
  .content-title {
    color: black;
    font-size: 26px;
  }
  .content-subtitle {
    color: #555555;
    font-size: 18px;
  }
  .circle {
    margin-top: -400px;
    margin-left: 770px;
    width: 150px;
  }
  .layanan-img {
    width: 100px;
  }
  .layanan-caption {
    font-size: 12px;
  }
  /* tabel */
  .bagiantabel {
    overflow-x: auto;
  }
  .table-title {
    font-size: 16px;
  }
  .table-subtitle {
    font-size: 12px;
  }
  .table-tl {
    font-size: 12px;
  }

  .text-header {
    font-size: 12px;
  }
  .header-column {
    font-size: 12px;
    padding-bottom: 15px;
  }
  .body-table {
    font-size: 12px;
    vertical-align: middle;
  }

  /* bottom */
  .bg2 {
    height: 780px;
  }

  .bottombanner-content {
    margin-top: -720px;
  }
  .gambar-bottom {
    width: 80%;
    margin-top: 150px;
  }

  .text-header {
    font-size: 12px;
  }
  .header-column {
    font-size: 12px;
    padding-bottom: 15px;
  }
  .body-table {
    font-size: 12px;
    vertical-align: middle;
  }
}
