#video {
  margin-top: 50px;
}

.banner {
  width: 100%;
  height: 650px;
}

.flex-50 {
  flex: 50%;
}

.title-banner {
  font-size: 64px;
  font-weight: bold;
}

.subtitle-banner {
  font-size: 48px;
}

.img-banner {
  float: right;
  margin-top: -25px;
  width: 50%;
}

.mt-content-banner {
  margin-top: -500px;
}

.title-section {
  color: #000000;
  font-weight: bold;
}

.subtitle-section {
  color: #555555;
  line-height: 1.5;
}

.mt-video {
  margin-top: 300px;
  text-align: center;
}

.h-video {
  height: 720px;
  border-radius: 10px;
  width: 100%;
}

.mt-videobox {
  margin-top: 50px;
}

.btn-navigator {
  float: right;
}

ol.carousel-indicators {
  width: 25%;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  margin-bottom: 0px;
}

ol.carousel-indicators li,
ol.carousel-indicators li:hover {
  background-color: #5e9dc6;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  background-color: #dde0e4;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

ol.carousel-indicators li.active {
  background: url(../img_video/unions.svg) no-repeat;
  border-radius: 0px;
  width: 45px;
}

.notClick {
  pointer-events: none;
  opacity: 0.5;
}

.text-left1 {
  text-align: left;
}

.mt-ellips {
  margin-top: -750px;
}

.flex-33 {
  flex: 33%;
  text-align: center;
}

.img-content {
  width: 25%;
}

.title-content {
  font-weight: bold;
  margin-top: 10px;
}

.subtitle-content {
  color: #555555;
  padding-left: 15px;
  padding-right: 15px;
}

.mt-content {
  margin-top: 100px;
}

.bg-process {
  background-color: #f2f4fc;
  width: 100%;
  margin-top: 150px;
}

.title-process {
  font-weight: bold;
  margin-top: 20px;
}

.subtitle-process {
  color: #555555;
}

.mt-process {
  margin-top: 50px;
}

.p-process {
  padding-top: 50px;
  padding-bottom: 50px;
}

.right {
}

.right:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.left:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.left {
  margin-right: 25px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 575.98px) {
  .right {
    margin-left: 5px;
    width: 12%;
  }

  .left {
    margin-right: 5px;
    width: 12%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mt-process {
    margin-top: 25px;
  }

  .bg-process {
    margin-top: 100px;
  }

  .title-process {
    font-size: 18px;
  }

  .subtitle-process {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .mt-content {
    margin-top: 50px;
  }
  .img-content {
    width: 50%;
  }
  .title-content {
    font-size: 16px;
  }
  .subtitle-content {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .btn-navigator {
    float: none;
  }

  ol.carousel-indicators {
    width: 100%;
  }

  .text-video {
    font-size: 18px;
  }

  .h-video {
    height: 240px;
    border-radius: 10px;
    width: 100%;
  }

  .mt-videobox {
    margin-top: 25px;
  }

  .mt-video {
    margin-top: 100px;
  }

  .subtitle-section {
    font-size: 16px;
  }

  #logo-identitas {
    margin-top: 50px;
  }

  .banner {
    height: 250px;
  }

  .title-banner {
    font-size: 24px;
  }

  .subtitle-banner {
    font-size: 18px;
  }

  .img-banner {
    width: 75%;
    margin-top: -10px;
  }

  .mt-content-banner {
    margin-top: -200px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .right {
    margin-left: 5px;
    width: 12%;
  }

  .left {
    margin-right: 5px;
    width: 12%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mt-process {
    margin-top: 25px;
  }

  .bg-process {
    margin-top: 100px;
  }

  .title-process {
    font-size: 18px;
  }

  .subtitle-process {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .img-content {
    width: 50%;
  }
  .mt-content {
    margin-top: 50px;
  }
  .title-content {
    font-size: 18px;
  }
  .subtitle-content {
    font-size: 14px;
  }
  .btn-navigator {
    float: none;
  }

  ol.carousel-indicators {
    width: 100%;
  }

  .text-video {
    font-size: 20px;
  }

  .h-video {
    height: 360px;
    border-radius: 10px;
    width: 100%;
  }

  .mt-videobox {
    margin-top: 25px;
  }

  .mt-video {
    margin-top: 100px;
  }

  .subtitle-section {
    font-size: 18px;
  }

  #logo-identitas {
    margin-top: 65px;
  }

  .title-banner {
    font-size: 32px;
  }

  .subtitle-banner {
    font-size: 24px;
  }

  .img-banner {
    width: 75%;
    margin-top: -20px;
  }

  .mt-content-banner {
    margin-top: -275px;
  }

  .banner {
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .right {
    margin-left: 5px;
    width: 12%;
  }

  .left {
    margin-right: 5px;
    width: 12%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mt-process {
    margin-top: 25px;
  }

  .bg-process {
    margin-top: 100px;
  }

  .title-process {
    font-size: 18px;
  }

  .subtitle-process {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .img-content {
    width: 25%;
  }
  .mt-content {
    margin-top: 50px;
  }
  .title-content {
    font-size: 18px;
  }
  .subtitle-content {
    font-size: 14px;
  }
  .btn-navigator {
    float: none;
  }

  ol.carousel-indicators {
    width: 100%;
    margin-top: 20px;
  }

  .text-video {
    font-size: 20px;
  }

  .h-video {
    height: 360px;
    border-radius: 10px;
    width: 100%;
  }

  .mt-videobox {
    margin-top: 25px;
  }

  .mt-video {
    margin-top: 100px;
  }

  .subtitle-section {
    font-size: 18px;
  }

  #logo-identitas {
    margin-top: 65px;
  }

  .title-banner {
    font-size: 32px;
  }

  .subtitle-banner {
    font-size: 24px;
  }

  .img-banner {
    width: 50%;
    margin-top: -20px;
  }

  .mt-content-banner {
    margin-top: -275px;
  }

  .banner {
    height: 350px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .right {
    margin-left: 5px;
    width: 12%;
  }

  .left {
    margin-right: 5px;
    width: 12%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mt-process {
    margin-top: 25px;
  }

  .bg-process {
    margin-top: 100px;
  }

  .title-process {
    font-size: 18px;
  }

  .subtitle-process {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .img-content {
    width: 25%;
  }
  .mt-content {
    margin-top: 50px;
  }
  .title-content {
    font-size: 18px;
  }
  .subtitle-content {
    font-size: 14px;
  }
  .btn-navigator {
    float: none;
  }

  ol.carousel-indicators {
    width: 100%;
    margin-top: 20px;
  }

  .text-video {
    font-size: 20px;
  }

  .h-video {
    height: 360px;
    border-radius: 10px;
    width: 100%;
  }

  .mt-videobox {
    margin-top: 25px;
  }

  .mt-video {
    margin-top: 100px;
  }

  .subtitle-section {
    font-size: 18px;
  }

  #logo-identitas {
    margin-top: 65px;
  }

  .title-banner {
    font-size: 32px;
  }

  .subtitle-banner {
    font-size: 24px;
  }

  .img-banner {
    width: 50%;
    margin-top: -20px;
  }

  .mt-content-banner {
    margin-top: -275px;
  }

  .banner {
    height: 350px;
  }
}
