<style scoped src="@/assets/css_about/about.css"></style>
<template>
  <div class="container mt-history">
    <h3 class="text-center title-history"><b>Sejarah Unipics</b></h3>
    <div class="row mt-5 history-content">
      <div class="col-4 col-md-4">
        <div class="text-kiri" data-aos="zoom-out-up" data-aos-duration="1500">
          <div class="d-flex justify-content-end ">
            <img class="ellips" src="@/assets/img_about/ellipse2.png" alt="" />
          </div>
          <h5 class="history-title text-end"><b>2018</b></h5>
          <p class="history-text text-end">
            Unipics.co.id jelas berbeda dengan Jasa Pembuatan Website lain, kami
            memberikan harga yang sangat murah di sesuaikan dengan Budget Anda.
          </p>
        </div>
        <div class="text-kiri2" data-aos="zoom-out-up" data-aos-duration="1500">
          <div class="d-flex justify-content-end">
            <img class="ellips" src="@/assets/img_about/ellipse2.png" alt="" />
          </div>
          <h5 class="history-title text-end"><b>2020</b></h5>
          <p class="history-text text-end">
            Unipics.co.id jelas berbeda dengan Jasa Pembuatan Website lain, kami
            memberikan harga yang sangat murah di sesuaikan dengan Budget Anda.
          </p>
        </div>
      </div>
      <div class="col-4 col-md-4 ">
        <div class="d-flex justify-content-center">
          <img
            class="pohon"
            src="@/assets/img_about/pohon_sejarah.png"
            alt=""
          />
        </div>
      </div>
      <div class="col 4 col-md-4">
        <div
          class="text-kanan"
          data-aos="zoom-out-down"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-start">
            <img class="ellips" src="@/assets/img_about/ellipse2.png" alt="" />
          </div>
          <h5 class="history-title"><b>2017</b></h5>
          <p class="history-text">
            Unipics.co.id jelas berbeda dengan Jasa Pembuatan Website lain, kami
            memberikan harga yang sangat murah di sesuaikan dengan Budget Anda.
          </p>
        </div>
        <div
          class="text-kanan"
          data-aos="zoom-out-down"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-start">
            <img class="ellips" src="@/assets/img_about/ellipse2.png" alt="" />
          </div>
          <h5 class="history-title"><b>2019</b></h5>
          <p class="history-text">
            Unipics.co.id jelas berbeda dengan Jasa Pembuatan Website lain, kami
            memberikan harga yang sangat murah di sesuaikan dengan Budget Anda.
          </p>
        </div>
        <div
          class="text-kanan"
          data-aos="zoom-out-down"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-start">
            <img class="ellips" src="@/assets/img_about/ellipse2.png" alt="" />
          </div>
          <h5 class="history-title"><b>2021</b></h5>
          <p class="history-text">
            Unipics.co.id jelas berbeda dengan Jasa Pembuatan Website lain, kami
            memberikan harga yang sangat murah di sesuaikan dengan Budget Anda.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
