<style scoped src="@/assets/css_about/about.css"></style>
<template>
  <div class="mt-team">
    <img class="bg-our-team" src="@/assets/img_about/bgteam.png" width="100%" />

    <div class="container mt-our-team ">
      <h3 class="our-team-title text-center">Our Team</h3>
      <div class="row">
        <div
          class="col-6 col-md-4 col-sm-4"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/img_about/ava/ava1.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Harish</h5>
            <h6 class="team-pos">Front End Developer</h6>
          </div>
        </div>
        <div
          class="col-6 col-md-4 col-sm-4"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/img_about/ava/ava2.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Yundy</h5>
            <h6 class="team-pos">CFO</h6>
          </div>
        </div>
        <div
          class="col-6 col-md-4 col-sm-4"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/img_about/ava/ava3.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Taufik</h5>
            <h6 class="team-pos">Front End Developer</h6>
          </div>
        </div>
        <div
          class="col-6 col-md-4 col-sm-4"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/img_about/ava/ava4.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Ihsan</h5>
            <h6 class="team-pos">Back End Developer</h6>
          </div>
        </div>
        <div
          class="col-6 col-md-4 col-sm-4"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/img_about/ava/ava5.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Rosa</h5>
            <h6 class="team-pos">Back End Developer</h6>
          </div>
        </div>
        <div
          class="col-6 col-md-4 col-sm-4"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <div class="d-flex justify-content-center">
            <img class="ava" src="@/assets/img_about/ava/ava6.svg" alt="" />
          </div>
          <div class="text-name">
            <h5 class="team-name">Anggi</h5>
            <h6 class="team-pos">Back End Developer</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
