<style scoped src="@/assets/css_about/about.css"></style>
<template>
  <div class="about">
    <div>
      <img class="bg-top1" src="@/assets/img_about/bg-top.png" alt="bg1" />
      <div class="container container-title">
        <div class="banner-text">
          <h1 class="title-about"><strong>Culture</strong></h1>
          <div>
            <h5 class="subtitle-section">
              Fokus kami adalah menyediakan platform yang paling nyaman bagi
              smartmember untuk melakukan berbagai aktifitas digital untuk
              mendukung operasional bisnisnya. Sesuai prinsip dan semangat kami,
              smartindustry hanya menampilkan database akurat yang sudah
              terkurasi.
            </h5>
          </div>
        </div>
        <div class="banner-ilustrasi">
          <img
            class="ilustrasi"
            src="@/assets/img_about/ourteam.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- banner -->

    <div class="container content">
      <div class="row ">
        <div
          class="col-12 col-lg-6"
          data-aos="fade-right"
          data-aos-duration="1500"
        >
          <div class="d-flex">
            <img
              class="img-visi"
              src="@/assets/img_about/hand-shake.svg"
              alt=""
            />
            <div class="pl-content">
              <h5 class="title-content fw-bold">LAYANAN</h5>
              <div class="subtitle-content">
                <p class="text-content">
                  Dapatkan loyalitas konsumen, berikan mereka pengalaman yang
                  berkesan dengan menciptakan hubungan yang saling
                  menguntungkan.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 col-lg-6"
          data-aos="fade-right"
          data-aos-duration="1500"
        >
          <div class="d-flex">
            <img
              class="img-visi"
              src="@/assets/img_about/hand-shake.svg"
              alt=""
            />
            <div class="pl-content">
              <h5 class="title-content fw-bold">KELEBIHAN</h5>
              <div class="subtitle-content">
                <p class="text-content">
                  <span class="text-info">Unipics.co.id</span> jelas berbeda
                  dengan Jasa Pembuatan Website lain, kami memberikan harga yang
                  sangat murah di sesuaikan dengan Budget Anda.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--row 1-->
      <div class="row mt-content2">
        <div
          class="col-12 col-lg-6"
          data-aos="fade-right"
          data-aos-duration="1500"
        >
          <div class="d-flex">
            <img
              class="img-visi"
              src="@/assets/img_about/hand-shake.svg"
              alt=""
            />
            <div class="pl-content">
              <h5 class="title-content fw-bold">KEPERCAYAAN</h5>
              <div class="subtitle-content">
                <p class="text-content">
                  Dapatkan kepercayaan dari kami dan gambaran baik dari
                  konsumen, desain yang profesional adalah representatif
                  kualitas suatu brand.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 col-lg-6"
          data-aos="fade-right"
          data-aos-duration="1500"
        >
          <div class="d-flex">
            <img
              class="img-visi-custom"
              src="@/assets/img_about/hand-shake.svg"
              alt=""
            />
            <div class="pl-content">
              <h5 class="title-content fw-bold">KEPUASAN</h5>
              <div class="subtitle-content">
                <p class="text-content">
                  Kepuasan Anda jelas menjadi keutamaan kami.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--row 2-->
    </div>
    <!--content section-->

    <img class="elipse1" src="@/assets/img_about/ellipse1.svg" alt="" />

    <div class="container visi-misi">
      <div class="row" data-aos="zoom-in" data-aos-duration="1500">
        <h3 class="text-center visi-misi-title"><b>Visi</b></h3>
        <hr class="hr-about" />
        <div class="visi-misi-subtitle">
          <h5 class="visi">
            Menciptakan connectivity antar supply chain untuk merevitalisasi
            sektor manufaktur Indonesia dan ikut mensupport dalam mempercepat
            pencapaian misi Indonesia menjadi 10 ekonomi terbesar di Indonesia.
          </h5>
        </div>
      </div>
      <div class="row mt-misi" data-aos="zoom-in" data-aos-duration="1500">
        <h3 class="text-center visi-misi-title"><b>Misi</b></h3>
        <hr class="hr-about" />
        <div class="visi-misi-subtitle visi-misi-subtitle-custom">
          <ol>
            <li>
              <h5 class="visi">
                Mengimplementasikan secara nyata Industri 4.0 dengan menciptakan
                ekosistem digital di Indonesia dengan memamerkan kapasitas,
                fasilitas, produk terbaik & ekosistem perusahaan, serta
                menampilkan berbagai kemajuan teknologi industri yang dimiliki.
              </h5>
            </li>
            <li>
              <h5 class="visi">
                Mendukung komitmen pemerintah Indonesia untuk membangun industri
                manufaktur yang kokoh dengan daya saing regional melalui
                ekosistem digital dan ikut menyajikan data secara real untuk
                mengembangkan kebijakan yang mendukung industri manufaktur.
              </h5>
            </li>
            <li>
              <h5 class="visi">
                Sebagai media kolaborasi menciptakan local component sebagai
                wujud langkah nyata mengoptimalkan tingkat kandungan dalam
                negeri (TKDN) sehingga mengurangi ketergantungan impor bahan
                baku.
              </h5>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <!--Vision and mission-->

    <img class="elipse2" src="@/assets/img_about/ellipse2.svg" alt="" />

    <!--sejarah--->
    <history></history>
    <!--our team--->
    <team></team>
    <!--myfooter-->
    <myfooter></myfooter>
  </div>
</template>

<script>
import team from "@/components/about/ourTeam.vue";
import history from "@/components/about/history.vue";
import myfooter from "@/components/footer.vue";

export default {
  name: "About",
  components: {
    team,
    history,
    myfooter,
  },
};
</script>
