<style scoped src="@/assets/css_home/home.css"></style>
<template>
  <div class="home">
    <div class="container">
      <div class="text-banner">
        <h1 class="title-banner">Product<br />Development<br />Studio</h1>
        <h5 class="subtitle-banner">
          From apps to artificial intelligence, from brands to blockchain, we’ll
          craft the delightful product you’re looking for.
        </h5>
        <div class="btn btn-service">
          <h5 class="service">
            See Our Service
            <span><img src="@/assets/img_home/arrow_banner.svg" /> </span>
          </h5>
        </div>
      </div>
    </div>
    <img class="banner" alt="Banner" src="@/assets/img_home/banner_home.svg" />

    <!-- our project -->
    <project></project>

    <!-- our service -->
    <service></service>

    <!-- niche -->
    <ourNiche></ourNiche>

    <!-- Technology -->
    <ourTechno></ourTechno>

    <!-- Company -->
    <ourCompany></ourCompany>

    <!-- Testimoni -->
    <testi></testi>

    <!-- Get in Touch -->
    <touch></touch>

    <!-- Our Culture -->
    <culture></culture>
    <div class="mt-5">
      <myfooter></myfooter>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import myfooter from "@/components/footer.vue";
import project from "@/components/home/ourProject.vue";
import service from "@/components/home/ourService.vue";
import ourNiche from "@/components/home/niche.vue";
import ourTechno from "@/components/home/technology.vue";
import ourCompany from "@/components/home/company.vue";
import touch from "@/components/home/getintouch.vue";
import culture from "@/components/home/ourCulture.vue";
import testi from "@/components/home/testimoni.vue";

export default {
  name: "Home",
  components: {
    myfooter,
    project,
    service,
    ourNiche,
    ourTechno,
    ourCompany,
    touch,
    culture,
    testi,
  },
  methods: {},
};
</script>
