<style scoped src="@/assets/css_menu_logo/menu_logo.css"></style>
<template>
  <div id="logo-identitas">
    <img class="banner" src="@/assets/img_menu_logo/banner.png" />
    <div class="container mt-content-banner">
      <div class="d-flex">
        <div class="flex-50">
          <h1 class="title-banner">Logo Anda Siap Mendunia</h1>
          <h3 class="subtitle-banner">Hanya dalam 48 Jam</h3>
        </div>
        <div class="flex-50">
          <img
            class="img-banner"
            src="@/assets/img_menu_logo/ilustrasi-banner.svg"
          />
        </div>
      </div>
    </div>

    <!-- gallery -->
    <logoGallery></logoGallery>

    <!-- content -->
    <logoContent></logoContent>

    <!-- why choose -->
    <logoWhy></logoWhy>

    <!-- price -->
    <logoPrice></logoPrice>

    <div class="container mt-5" data-aos="fade-down" data-aos-duration="1500">
      <h3 class="title-section-why">
        Kenapa Harus Mendapatkan Jasa Desain Logo?
      </h3>
      <h5 class="subtitle-section-why text-why">
        Jika perusahaan sudah memiliki logo, maka akan lebih mudah dalam
        menyiapkan kelengkapan pemasaran dari produknya. Logo yang unik dan
        menarik akan selalu dibutuhkan pada setiap identitas perusahaan.
        Seperti: pembuatan company profile, desain kartu nama, desain
        spanduk/banner, brosur, website, dan lain sebagainya. Hal ini
        membuktikan bahwa logo harus didesain dengan menarik dan impresif,
        supaya memudahkan strategi pemasaran bisnis Anda. Jasa desain logo
        profesional menjadi pilihan termudah, karena akan menghasilkan desain
        logo yang relevan untuk sebuah perusahaan. Ada banyak manfaat yang bisa
        didapatkan oleh perusahaan dengan menggunakan jasa desain logo
        profesional dan berpengalaman.<br /><br />
      </h5>
      <div class="d-flex">
        <h5 class="subtitle-section-why">*</h5>
        <h5 class="subtitle-section-why">
          Menyampaikan informasi dan pesan dalam bentuk visual
        </h5>
      </div>
      <div class="d-flex">
        <h5 class="subtitle-section-why">*</h5>
        <h5 class="subtitle-section-why">
          Bisa menarik lebih banyak konsumen
        </h5>
      </div>
      <div class="d-flex">
        <h5 class="subtitle-section-why">*</h5>
        <h5 class="subtitle-section-why">
          Merger semakin menarik
        </h5>
      </div>
      <div class="d-flex">
        <h5 class="subtitle-section-why">*</h5>
        <h5 class="subtitle-section-why">
          Kelengkapan dalam pembuatan company profile, kartu nama, banner, dan
          aset marketing lainnya
        </h5>
      </div>
      <div class="d-flex">
        <h5 class="subtitle-section-why">*</h5>
        <h5 class="subtitle-section-why">
          Sebagai bukti bahwa perusahaan ikut dengan perkembangan zaman
        </h5>
      </div>
      <div class="d-flex">
        <h5 class="subtitle-section-why">*</h5>
        <h5 class="subtitle-section-why">
          Membuat karyawan merasa bangga dengan perusahaannya
        </h5>
      </div>
      <div class="d-flex">
        <h5 class="subtitle-section-why">*</h5>
        <h5 class="subtitle-section-why">
          Legalitas dan pencitraan perusahaan
        </h5>
      </div>
    </div>

    <div class="mt-5">
      <myfooter></myfooter>
    </div>
  </div>
</template>

<script>
import myfooter from "@/components/footer.vue";
import logoGallery from "@/components/menu_logo/gallery.vue";
import logoContent from "@/components/menu_logo/content.vue";
import logoWhy from "@/components/menu_logo/whyChoose.vue";
import logoPrice from "@/components/menu_logo/price.vue";
export default {
  name: "Logo-Identitas",
  components: {
    myfooter,
    logoGallery,
    logoContent,
    logoWhy,
    logoPrice,
  },
};
</script>
