<style scoped src="@/assets/css_order/order.css"></style>
<template>
  <div>
    <img class="top" src="@/assets/img_order/top.svg" />
    <div class="col-lg-6 mx-auto mt-content-order">
      <div>
        <h3 class="title-section">Website seperti apa yang kamu mau?</h3>
        <h5 class="subtitle-section">
          Let’s Talk! We will get back to you within one to two days through
          email. Also please don’t forget to check your spam account just in
          case!
        </h5>
      </div>
      <div class="d-flex mt-box">
        <div class="flex-25">
          <div class="box1" style="margin-left: 0px">
            <h5 class="text-box">Blog / Website Pribadi</h5>
          </div>
        </div>
        <div class="flex-25">
          <div class="box2">
            <h5 class="text-box">Ecommerce<br />/ Toko Online</h5>
          </div>
        </div>
        <div class="flex-25">
          <div class="box3">
            <h5 class="text-box">Website Perusahaan</h5>
          </div>
        </div>
        <div class="flex-25">
          <div class="box4">
            <h5 class="text-box">Blog (Content Marketing)</h5>
          </div>
        </div>
      </div>
      <div class="d-flex mt-box2">
        <div class="flex-25">
          <div class="box3" style="margin-left: 0px">
            <h5 class="text-box" style="padding-left: 5px">
              Organisasi / Instansi
            </h5>
          </div>
        </div>
        <div class="flex-25">
          <div class="box4">
            <h5 class="text-box">Ecommerce<br />/ Toko Online</h5>
          </div>
        </div>
        <div class="flex-25">
          <div class="box2">
            <h5 class="text-box">Blog (Content Marketing)</h5>
          </div>
        </div>
        <div class="flex-25">
          <div class="box1">
            <h5 class="text-box">Ecommerce<br />/ Toko Online</h5>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nama Instansi*"
                aria-label="Nama Instansi"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nama*"
                aria-label="Nama"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Email*"
                aria-label="Email"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nomor Telepon*"
                aria-label="Nomor Telepon"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-group">
            <textarea
              class="form-control"
              aria-label="With textarea"
              placeholder="Deskripsi Kebutuhan Website*"
              style="resize: none"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <div class="d-flex m-btn">
              <div class="btn btn-back">
                <h6 class="btn-text">Back</h6>
              </div>
              <div class="btn btn-preview" @click="gotoPreview()">
                <h6 class="btn-text">Preview</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="bottom" src="@/assets/img_order/bottom.svg" />
  </div>
</template>
<script>
// @ is an alias to /src

export default {
  name: "Order",
  components: {},
  methods: {
    gotoPreview: function() {
      this.$router.push({ path: "/preview" });
      window.scroll(0, 0);
    },
  },
};
</script>
