<style scoped src="@/assets/css_order/order.css"></style>
<template>
  <div>
    <img class="top" src="@/assets/img_order/top.svg" />
    <div class="col-lg-6 mx-auto mt-content-order">
      <div>
        <h3 class="title-section">Website seperti apa yang cocok untuk kamu</h3>
        <h5 class="subtitle-section">
          Let’s Talk! We will get back to you within one to two days through
          email. Also please don’t forget to check your spam account just in
          case!
        </h5>
      </div>
      <div class="bg-preview">
        <div class="d-flex">
          <div class="flex-33">
            <img class="img-sample" src="@/assets/img_order/sample.png" />
          </div>
          <div class="flex-33">
            <img class="img-sample" src="@/assets/img_order/sample1.png" />
          </div>
          <div class="flex-33">
            <img class="img-sample" src="@/assets/img_order/sample2.png" />
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-33-b">
            <img class="img-sample" src="@/assets/img_order/sample3.png" />
          </div>
          <div class="flex-33-b">
            <img class="img-sample" src="@/assets/img_order/sample4.png" />
          </div>
          <div class="flex-33-b">
            <img class="img-sample" src="@/assets/img_order/sample5.png" />
          </div>
        </div>
      </div>

      <div class="mt-3">
        <div class="row">
          <div class="input-group">
            <textarea
              class="form-control h-textarea"
              aria-label="With textarea"
              placeholder="Pesan Lainnya*"
              style="resize: none"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <div class="d-flex m-btn">
              <div class="btn btn-back">
                <h6 class="btn-text">Back</h6>
              </div>
              <div class="btn btn-send">
                <h6 class="btn-text">Send Request</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="bottom2" src="@/assets/img_order/bottom.svg" />
  </div>
</template>
