<style scoped src="@/assets/css_video/video.css"></style>
<template>
  <div id="video">
    <img class="banner" src="@/assets/img_video/banner.png" />
    <div class="container mt-content-banner">
      <div class="d-flex">
        <div class="flex-50">
          <h1 class="title-banner">Video Anda Siap Mendunia</h1>
          <h3 class="subtitle-banner">Hanya dalam 48 Jam</h3>
        </div>
        <div class="flex-50">
          <img
            class="img-banner"
            src="@/assets/img_video/ilustrasi-banner.svg"
          />
        </div>
      </div>
    </div>

    <!-- gallery -->
    <videoGallery></videoGallery>

    <!-- content -->
    <videoContent></videoContent>

    <!-- process -->
    <videoProcess></videoProcess>
    <div style="margin-top: 500px"></div>
    <div class="mt-5">
      <myfooter></myfooter>
    </div>
  </div>
</template>

<script>
import myfooter from "@/components/footer.vue";
import videoGallery from "@/components/video/galleryVideo.vue";
import videoContent from "@/components/video/contentVideo.vue";
import videoProcess from "@/components/video/processVideo.vue";

export default {
  name: "Video",
  components: {
    myfooter,
    videoGallery,
    videoContent,
    videoProcess
  },
};
</script>
