<style scoped src="@/assets/css_website/website.css"></style>
<template>
  <div id="website">
    <img class="bg-top" src="@/assets/img_website/bg1.png" alt="bg1" />
    <div class="container banner">
      <div class="d-flex">
        <div class="flex-50">
          <h1 class="title-banner">Website Anda Siap Mendunia</h1>
          <h3 class="subtitle-banner">Hanya dalam 48 Jam</h3>
        </div>
        <div class="flex-50">
          <img
            class="img-banner"
            src="@/assets/img_website/herodepanlaptop1.svg"
          />
        </div>
      </div>
    </div>
    <!-- Solutions -->
    <div class="container solution-mt">
      <h3 class="content-title fw-bold text-center">
        Website Development Solutions
      </h3>
      <h5 class="content-subtitle text-center">
        Kami mendengar dan memberikan solusi terbaik untuk semua kebutuhan anda.
        Dengan harga yang wajar, murah, dan terbaik.
      </h5>
    </div>
    <!-- layanan -->
    <div class="container layanan-mt">
      <h3 class="content-title fw-bold text-center">
        Layanan yang kami tawarkan
      </h3>
      <h5 class="content-subtitle text-center">
        Layanan kami meliputi semua jasa website diantaranya
      </h5>
      <div class="row mt-5 align-items-end">
        <div
          class="col-6 col-md-3 col-sm-3"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <div class="d-flex justify-content-center">
            <img
              class="layanan-img"
              src="@/assets/img_website/illust-blog-f.svg"
              alt=""
            />
          </div>
          <h5 class="mt-4 fw-bold text-center layanan-caption">
            Blog/Website Pribadi
          </h5>
        </div>
        <div
          class="col-6 col-md-3 col-sm-3"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <div class="d-flex justify-content-center">
            <img
              class="layanan-img"
              src="@/assets/img_website/illust-ecommerce-f.svg"
              alt=""
            />
          </div>
          <h5 class="mt-4 fw-bold text-center layanan-caption">
            Ecommerce/ Toko Online
          </h5>
        </div>
        <div
          class="col-6 col-md-3 col-sm-3"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <div class="d-flex justify-content-center">
            <img
              class="layanan-img"
              src="@/assets/img_website/illust-profile-f.svg"
              alt=""
            />
          </div>
          <h5 class="mt-4 fw-bold text-center layanan-caption">
            Blog/Website pribadi
          </h5>
        </div>
        <div
          class="col-6 col-md-3 col-sm-3"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <div class="d-flex justify-content-center">
            <img
              class="layanan-img"
              src="@/assets/img_website/illust-webapps-f.svg"
              alt=""
            />
          </div>
          <h5 class="mt-4 fw-bold text-center layanan-caption">
            Blog/Website pribadi Bosqu
          </h5>
        </div>
      </div>
      <img class="circle" src="@/assets/img_website/ellipse7.svg" />
    </div>

    <!-- tabel -->
    <myTable></myTable>

    <!-- content bawah -->
    <mybottombanner></mybottombanner>

    <!-- footer -->
    <div class="mt-5">
      <myfooter></myfooter>
    </div>
  </div>
</template>

<script>
import myTable from "@/components/website/table.vue";
import mybottombanner from "@/components/website/bottombanner.vue";
import myfooter from "@/components/footer.vue";
export default {
  name: "Website",
  components: {
    myTable,
    mybottombanner,
    myfooter,
  },
};
</script>
