<style scoped src="@/assets/css_home/home.css"></style>
<template>
  <div>
    <div class="container mt-company">
      <div class="row" data-aos="fade-up" data-aos-duration="1500">
        <div class="text-center">
          <h3 class="title-section">You're in Good Company</h3>
          <h5 class="subtitle-section">
            We have the pleasure of workingwith client representing the best in
            media, marketing, and more
          </h5>
        </div>
        <VueSlickCarousel
          v-bind="settings"
          class="mt-slider-company"
          style="overflow-x: hidden"
        >
          <div class="col">
            <img class="mx-auto" src="@/assets/img_home/company/sugity.svg" />
          </div>
          <div class="col">
            <img
              class="mx-auto"
              src="@/assets/img_home/company/panasonic.svg"
            />
          </div>
          <div class="col">
            <img class="mx-auto" src="@/assets/img_home/company/sugity.svg" />
          </div>
          <div class="col">
            <img class="mx-auto" src="@/assets/img_home/company/djarum.svg" />
          </div>
          <div class="col">
            <img class="mx-auto" src="@/assets/img_home/company/sinerco.svg" />
          </div>
          <div class="col">
            <img class="mx-auto" src="@/assets/img_home/company/sugity.svg" />
          </div>
        </VueSlickCarousel>
      </div>
    </div>
  </div>
</template>
<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
export default {
  name: "company",
  data: () => ({
    settings: {
      centerMode: false,
      focusOnSelect: false,
      infinite: true,
      slidesToShow: 5,
      slidesToScroll: 1,
      speed: 500,
      autoplay: true,
      dot: false,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true,
          },
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            initialSlide: 2,
            centerPadding: "0px",
          },
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
          },
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
          },
        },
      ],
    },
  }),
  components: {
    VueSlickCarousel,
  },
};
</script>
