<style scoped src="@/assets/css_home/home.css"></style>
<template>
  <div>
    <div class="bg-touch">
      <div class="container pt-5 pb-5">
        <div class="row">
          <div class="col-md-6">
            <h1 class="title-touch">Not sure where to start ?</h1>
            <h5 class="subtitle-touch">We’ll help you figure it out</h5>
          </div>
          <div class="col-md-6">
            <h4 class="get-in-touch" @click="gotoOrder()">
              Get in Touch
              <span
                ><img class="btn-touch" src="@/assets/img_home/get_in_touch.svg"
              /></span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// @ is an alias to /src

export default {
  name: "Touch",
  components: {},
  methods: {
    gotoOrder: function() {
      this.$router.push({ path: "/order" });
      window.scroll(0, 0);
    },
  },
};
</script>
