<style scoped src="@/assets/css_home/home.css"></style>
<template>
  <div>
    <div class="container mt-niche">
      <div class="text-center">
        <h3 class="title-section">Pick Your Niche</h3>
      </div>
      <div class="d-flex mt-5">
        <div
          class="content-niche"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <img
            class="img-niche"
            src="@/assets/img_home/niche/manufacture.svg"
          />
          <h5 class="text-niche">Manufacture</h5>
        </div>
        <div
          class="content-niche"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <img class="img-niche" src="@/assets/img_home/niche/travel.svg" />
          <h5 class="text-niche">Travel</h5>
        </div>
        <div
          class="content-niche"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <img class="img-niche" src="@/assets/img_home/niche/logistic.svg" />
          <h5 class="text-niche">Logistic</h5>
        </div>
        <div
          class="content-niche"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <img
            class="img-niche"
            src="@/assets/img_home/niche/transportation.svg"
          />
          <h5 class="text-niche">Transportation</h5>
        </div>
        <div
          class="content-niche"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <img class="img-niche" src="@/assets/img_home/niche/event.svg" />
          <h5 class="text-niche">Event</h5>
        </div>
      </div>
      <div class="d-flex mt-5">
        <div
          class="content-niche"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <img class="img-niche" src="@/assets/img_home/niche/ticket.svg" />
          <h5 class="text-niche">Ticketing</h5>
        </div>
        <div
          class="content-niche"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <img
            class="img-niche"
            src="@/assets/img_home/niche/marketplace.svg"
          />
          <h5 class="text-niche">Marketplace</h5>
        </div>
        <div
          class="content-niche"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <img class="img-niche" src="@/assets/img_home/niche/finance.svg" />
          <h5 class="text-niche">Finance</h5>
        </div>
        <div
          class="content-niche"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <img class="img-niche" src="@/assets/img_home/niche/education.svg" />
          <h5 class="text-niche">Education</h5>
        </div>

        <div
          class="content-niche"
          data-aos="flip-left"
          data-aos-duration="1500"
        >
          <img class="img-niche" src="@/assets/img_home/niche/heart.svg" />
          <h5 class="text-niche">Health Care</h5>
        </div>
      </div>
    </div>
    <img class="ellips-niche" src="@/assets/img_home/ellips-right.svg" />
  </div>
</template>
