<style scoped src="@/assets/css_home/home.css"></style>
<template>
  <div>
    <div class="container mt-culture" data-aos="fade-right" data-aos-duration="1500">
      <div class="row">
        <div class="col-md-6">
          <div class="mt-text-culture">
            <h3 class="title-section">Life and Culture</h3>
            <h5 class="subtitle-section subtitle-text-culture">
              We are horizontal company, and communication and transpatency are
              important to us. We value work.life balance, and this enables us
              to go the extra mile for our clients
            </h5>
            <h5 class="culture" @click="gotoCulture()">
              See My Culture
              <span
                ><img
                  class="btn-browse"
                  src="@/assets/img_home/arrow_browse.svg"
              /></span>
            </h5>
          </div>
        </div>
        <div class="col-md-6">
          <img width="100%" src="@/assets/img_home/culture.svg" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "culture",
  methods: {
    gotoCulture: function() {
      this.$router.push({ path: "/culture" });
      window.scroll(0, 0);
    }
  }
}
</script>
