<style scoped src="@/assets/css_home/home.css"></style>
<template>
  <div>
    <div class="container section-our-project">
      <h3 class="title-section">Our Project</h3>
      <h5 class="subtitle-section">
        Lorem ipsum dolor sit amet Lorem ipsum dolor sit ametLorem ipsum dolor
        sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet
      </h5>
      <div class="row mt-5" data-aos="fade-up" data-aos-duration="1500">
        <div class="col-md-6 mt-col-project1">
          <img width="90%" src="@/assets/img_home/bg_project_1.svg" />
          <div class="mt-project1">
            <h3 class="title-project">Industry Information for Everyone</h3>
            <h5 class="subtitle-project">
              smartindustry.id
            </h5>
            <img
              width="100%"
              class="mt-3"
              src="@/assets/img_home/project1.png"
            />
          </div>
        </div>
        <div class="col-md-6 mt-col-project2">
          <img width="90%" src="@/assets/img_home/bg_project_2.svg" />
          <div class="mt-project2">
            <h3 class="title-project">Industry Information for Everyone</h3>
            <h5 class="subtitle-project">
              ypti.com
            </h5>
            <img
              width="35%"
              class="mt-phone"
              src="@/assets/img_home/project2.png"
            />
            <img width="35%" class="" src="@/assets/img_home/project2.png" />
          </div>
        </div>
      </div>
      <div class="row mt-row2" data-aos="fade-down" data-aos-duration="1500">
        <div class="col-md-6 mt-col-project2">
          <img width="90%" src="@/assets/img_home/bg_project_2.svg" />
          <div class="mt-project2">
            <h3 class="title-project">Industry Information for Everyone</h3>
            <h5 class="subtitle-project">
              ypti.com
            </h5>
            <img
              width="35%"
              class="mt-phone"
              src="@/assets/img_home/project2.png"
            />
            <img width="35%" class="" src="@/assets/img_home/project2.png" />
          </div>
        </div>
        <div class="col-md-6 mt-col-project3">
          <img width="90%" src="@/assets/img_home/bg_project_1.svg" />
          <div class="mt-project1">
            <h3 class="title-project">Industry Information for Everyone</h3>
            <h5 class="subtitle-project">
              smartindustry.id
            </h5>
            <img
              width="100%"
              class="mt-3"
              src="@/assets/img_home/project1.png"
            />
          </div>
        </div>
      </div>
      <div class="mt-browse">
        <h3 class="title-browse">Curious for other projects ?</h3>
        <h5 class="subtitle-project2">
          Browse our projects
          <span
            ><img class="btn-browse" src="@/assets/img_home/arrow_browse.svg"
          /></span>
        </h5>
      </div>
    </div>
    <img class="mt-ellips" src="@/assets/img_home/ellips.svg" />
  </div>
</template>
