<style scoped src="@/assets/css_home/home.css"></style>
<template>
  <div class="mt-service">
    <img class="bg-our-service" src="@/assets/img_home/bg_service.png" />

    <div class="container mt-our-service">
      <h3 class="title-section">Our Service</h3>
      <div class="row ">
        <router-link to="/website" class="col-md-4" data-aos="fade-right" data-aos-duration="1500">
          <img class="card-service" src="@/assets/img_home/card_service.svg" />
          <div class="mt-text-service">
            <h4 class="title-service">
              Project Division
            </h4>
            <div class="text-service">
              <h6>Website</h6>
              <h6>Web Based Application</h6>
              <h6>Mobile Application</h6>
            </div>
          </div>
        </router-link>
        <div
          class="col-md-4 mt-card-service"
          data-aos="fade-right"
          data-aos-duration="1500"
        >
          <img class="card-service" src="@/assets/img_home/card_service.svg" />
          <div class="mt-text-service">
            <h4 class="title-service">
              Training
            </h4>
            <div class="text-service">
              <h6>IT Seminar</h6>
              <h6>Workshop</h6>
              <h6>Web Developing Training</h6>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 mt-card-service"
          data-aos="fade-right"
          data-aos-duration="1500"
        >
          <img class="card-service" src="@/assets/img_home/card_service.svg" />
          <div class="mt-text-service">
            <h4 class="title-service">
              Consultancy
            </h4>
            <div class="text-service">
              <h6>Bimbingan Teknis</h6>
              <h6>Konsultasi Teknis</h6>
              <h6>Analisa Teknis</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
