<style scoped src="@/assets/css_home/home.css"></style>
<template>
  <div>
    <div class="container mt-techno">
      <div class="row techno">
        <div class="col-md-5" data-aos="zoom-in" data-aos-duration="1500">
          <h3 class="title-section">Technology We Currently Use</h3>
          <h5 class="subtitle-techno">
            Cake jelly beans donut fruitcake chupa chups cookie halvah powder
            jelly-o. Pudding lollipop sweet donut. Wafer cake icing wafer toffee
            ice cream muffin.
          </h5>
        </div>
        <div
          class="col-md-7 mt-table"
          data-aos="zoom-in"
          data-aos-duration="1500"
        >
          <div class="d-flex">
            <div class="text-techno1">
              <h5 class="subtitle-techno " style="color: #8146D5">
                Platform
              </h5>
            </div>
            <div class="text-techno2">
              <h5 class="subtitle-techno">
                Web Services
              </h5>
              <h5 class="subtitle-techno">
                Android
              </h5>
            </div>
            <div class="text-techno3">
              <h5 class="subtitle-techno">
                Dekstop Apps
              </h5>
              <h5 class="subtitle-techno">
                iPhone
              </h5>
            </div>
          </div>
          <hr />
          <div class="d-flex">
            <div class="text-techno1">
              <h5 class="subtitle-techno " style="color: #8146D5">
                Programming Language
              </h5>
            </div>
            <div class="text-techno2">
              <h5 class="subtitle-techno">
                HTML / XHTML / HTML5
              </h5>
              <h5 class="subtitle-techno">
                Phyton
              </h5>
              <h5 class="subtitle-techno">
                ASP
              </h5>
              <h5 class="subtitle-techno">
                Java
              </h5>
              <h5 class="subtitle-techno">
                CSS
              </h5>
            </div>
            <div class="text-techno3">
              <h5 class="subtitle-techno">
                JavaScript
              </h5>
              <h5 class="subtitle-techno">
                Delphi
              </h5>
              <h5 class="subtitle-techno">
                NET
              </h5>
              <h5 class="subtitle-techno">
                PHP
              </h5>
            </div>
          </div>
          <hr />
          <div class="d-flex">
            <div class="text-techno1">
              <h5 class="subtitle-techno " style="color: #8146D5">
                Design & Video
              </h5>
            </div>
            <div class="text-techno2">
              <h5 class="subtitle-techno">
                Adobe Collection
              </h5>

              <h5 class="subtitle-techno">
                Apple Logic Pro X
              </h5>
            </div>
            <div class="text-techno3">
              <h5 class="subtitle-techno">
                Corel Draw
              </h5>
              <h5 class="subtitle-techno">
                Davinci Recolve
              </h5>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</template>
