<style scoped src="@/assets/css_home/home.css"></style>
<template>
  <div>
    <div class="container">
      <div class="mt-clone" data-aos="fade-down" data-aos-duration="1500">
        <img class="testi-clone-1" src="@/assets/img_home/testi/testi1.svg" />
        <img class="testi-clone-2" src="@/assets/img_home/testi/testi2.svg" />
        <img class="testi-clone-3" src="@/assets/img_home/testi/testi3.svg" />
        <img class="testi-clone-4" src="@/assets/img_home/testi/testi2.svg" />
      </div>
    </div>

    <div
      class="container mt-testi-all"
      data-aos="zoom-in"
      data-aos-duration="1500"
    >
      <div class="row techno" style="">
        <div class="col-md-6">
          <splide
            :options="options1"
            ref="op1"
            style="padding-left: 0px; padding-right: 0px"
          >
            <splide-slide class="pt-2 pb-2">
              <div class="card card-testi mx-auto">
                <img
                  class="img-card-testi"
                  src="@/assets/img_home/toyota.png"
                />
                <div class="card-body mt-3">
                  <h6 class="text-card-testi">
                    League fore transom carouser boatswain American Main lanyard
                    scuttle scourge of the seven seas crow's nest. Hang the jib
                    barque run a rig tender matey Buccaneer ahoy ho case shot
                    gangway.
                  </h6>
                  <hr class="hr-card-testi" />
                  <h6 class="name-card-testi">Taufiq Hidayat</h6>
                  <h6 class="text-card-testi">Front End Developer</h6>
                </div>
              </div>
            </splide-slide>
            <splide-slide class="pt-2 pb-2">
              <div class="card card-testi mx-auto">
                <img
                  class="img-card-testi"
                  src="@/assets/img_home/images.png"
                />
                <div class="card-body mt-3">
                  <h6 class="text-card-testi">
                    A website (also written as web site) is a collection of web
                    pages and related content that is identified by a common
                    domain name and published on at least one web server.
                  </h6>
                  <hr class="hr-card-testi" />
                  <h6 class="name-card-testi">Harish Setyo</h6>
                  <h6 class="text-card-testi">Front End Developer</h6>
                </div>
              </div>
            </splide-slide>
          </splide>
          <img class="quote" src="@/assets/img_home/testi/quote.svg" />
        </div>
        <div class="col-md-6 mt-testi">
          <splide
            :options="options2"
            ref="op2"
            style="padding-left: 0px; padding-right: 0px"
          >
            <splide-slide>
              <img class="img-testi" src="@/assets/img_home/images.png" />
              <h5 class="text-testi">
                A website (also written as web site) is a collection of web
                pages and related content that is identified by a common domain
                name and published on at least one web server.
              </h5>
              <h5 class="name-testi">Harish Setyo</h5>
              <h5 class="text-testi">Front End Developer</h5>
            </splide-slide>
            <splide-slide>
              <img class="img-testi" src="@/assets/img_home/toyota.png" />
              <h5 class="text-testi">
                League fore transom carouser boatswain American Main lanyard
                scuttle scourge of the seven seas crow's nest. Hang the jib
                barque run a rig tender matey Buccaneer ahoy ho case shot
                gangway.
              </h5>
              <h5 class="name-testi">Taufiq Hidayat</h5>
              <h5 class="text-testi">Front End Developer</h5>
            </splide-slide>
          </splide>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Splide, SplideSlide } from "@splidejs/vue-splide";
// import "@splidejs/splide/dist/css/themes/splide-default.min.css";
import "@splidejs/splide/dist/css/themes/splide-sea-green.min.css";
// import "@splidejs/splide/dist/css/themes/splide-skyblue.min.css";
export default {
  name: "testi",
  data: () => ({
    options1: {
      rewind: true,
      direction: "ttb",
      arrows: false,
      height: 450,
      width: 720,
      perPage: 1,
      perMove: 1,
      pagination: false,
      autoplay: false,
      interval: 3000,
      breakpoints: {
        575.9: {
          direction: "ltr",
          pagination: true,
        },
        767.9: {
          direction: "ltr",
          pagination: true,
        },
        991.9: {
          direction: "ttb",
          pagination: true,
          width: 720,
        },
      },
    },
    options2: {
      rewind: true,
      direction: "ttb",
      arrows: false,
      height: 450,
      width: 720,
      perPage: 1,
      perMove: 1,
      pagination: false,
      updateOnMove: true,
      drag: false,
      type: "fade",
    },
  }),
  components: {
    Splide,
    SplideSlide,
  },
  methods: {},
  mounted: function() {
    this.$refs.op1.sync(this.$refs.op2.splide);
  },
};
</script>
