<style scoped src="@/assets/css_home/home.css"></style>
<template>
  <div class="footer">
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>unipics.co.id</h4>
          <h6>#digital communication partner</h6>
        </div>
        <div class="col-md-6 footer">
          <div class="d-flex">
            <div class="identity-text">
              <div class="table-title">
                <p>Link</p>
              </div>
              <a href="#">dolor is amet</a>
            </div>
            <div class="identity-text">
              <div class="table-title">
                <p>Media</p>
              </div>
              <p>dolor is amet</p>
              <p>dolor is amet</p>
              <p>dolor is amet</p>
            </div>
            <div class="identity-text">
              <div class="table-title">
                <p>Contact</p>
              </div>
              <p>dolor is amet</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-icon">
        <img src="@/assets/footer_icon/ig-icon.svg" alt="" />
        <img src="@/assets/footer_icon/fb-icon.svg" alt="" />
        <img src="@/assets/footer_icon/in-icon.svg" alt="" />
        <img src="@/assets/footer_icon/wa-icon.svg" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "footer",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
