#logo-identitas {
  margin-top: 50px;
}

.banner {
  width: 100%;
  height: 650px;
}

.flex-50 {
  flex: 50%;
}

.title-banner {
  font-size: 64px;
  font-weight: bold;
}

.subtitle-banner {
  font-size: 48px;
}

.img-banner {
  float: right;
  margin-top: -25px;
  width: 50%;
}

.mt-content-banner {
  margin-top: -500px;
}

.title-section {
  color: #000000;
  font-weight: bold;
}

.subtitle-section {
  color: #555555;
  line-height: 1.5;
}

.mt-gallery {
  margin-top: 300px;
  text-align: center;
}

.flex-33 {
  flex: 33%;
}

.mt-gallery-content {
  margin-top: 25px;
}

.mt-ellips {
  float: left;
  margin-top: -550px;
}

.mt-content {
  margin-top: 100px;
}

.title-content {
  font-weight: bold;
  margin-top: 10px;
}

.subtitle-content {
  color: #555555;
  padding-left: 5px;
  padding-right: 5px;
}

.banner-why {
  width: 100%;
  margin-top: 100px;
  height: 400px;
}

.ilustrasi-why {
  float: right;
}

.btn-call {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin-top: 20px;
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2) !important;
  background: linear-gradient(270deg, #594cca 0%, #a56fec 100%);
}

.btn-call:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.call {
  color: #ffffff;
  padding-top: 4px;
}

.mt-why {
  margin-top: -350px;
}

.title-section-why {
  color: #000000;
  font-weight: bold;
}

.subtitle-section-why {
  color: #555555;
  line-height: 1.5;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.card-price {
  padding-left: 10px;
  padding-right: 10px;
}

.bg-price1 {
  background-color: #555555;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.bg-price2 {
  background-color: #f48c7f;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.bg-price3 {
  background-color: #5495c7;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.text-price1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.test {
  font-size: 18px !important;
  vertical-align: super;
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  border-radius: 0px !important;
  border: 0px !important;
}

.card-body-price {
  background-color: #e6e4f1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.text-price2 {
  color: #555555;
}

.mt-text-price2 {
  margin-top: 25px;
}

.btn-order {
  width: 300px;
  height: 50px;
  background-color: #00d711;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 25px;
}

.btn-order:hover {
  scale: 1.015;
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.text-order {
  padding-top: 2px;
}

.mt-price {
  margin-top: 200px;
}

.arrow-left-price {
  margin-top: -500px;
}

.arrow-right-price {
  margin-top: -1000px;
  float: right;
}

@media (max-width: 575.98px) {
  .arrow-left-price {
    display: none;
  }

  .arrow-right-price {
    display: none;
  }

  .mt-price {
    margin-top: 100px;
  }

  .subtitle-section {
    font-size: 16px;
  }

  .text-order {
    font-size: 16px;
  }

  .btn-order {
    width: 80%;
    height: 40px;
    margin-bottom: 25px;
  }

  .text-price2 {
    font-size: 14px;
  }

  .text-why {
    margin-top: 10px;
    text-align: justify;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .title-section-why {
    font-size: 18px;
  }

  .subtitle-section-why {
    font-size: 14px;
  }

  .banner-why {
    height: 500px;
    margin-top: 50px;
  }

  .mt-why-text {
    margin-top: 25px;
    text-align: center;
  }

  .ilustrasi-why {
    float: none;
    width: 50%;
  }

  .btn-call {
    width: 250px;
    height: 45px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2) !important;
    background: linear-gradient(270deg, #594cca 0%, #a56fec 100%);
  }

  .btn-call:hover {
    scale: 1.015;
    -ms-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    -o-transform: scale(1.015);
  }

  .call {
    color: #ffffff;
    padding-top: 2px;
  }

  .mt-why {
    margin-top: -450px;
  }

  .mt-row-content {
    margin-top: 25px;
  }

  .mt-content {
    margin-top: 50px;
  }

  .title-content {
    font-size: 16px;
  }

  .subtitle-content {
    font-size: 12px;
  }

  .mt-ellips {
    float: left;
    margin-top: -250px;
  }

  .mt-gallery {
    margin-top: 100px;
  }

  .mt-gallery-content {
    margin-top: 10px;
  }

  .img-gallery {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  #logo-identitas {
    margin-top: 50px;
  }

  .banner {
    height: 250px;
  }
  .title-banner {
    font-size: 24px;
  }

  .subtitle-banner {
    font-size: 18px;
  }

  .img-banner {
    width: 75%;
    margin-top: -10px;
  }

  .mt-content-banner {
    margin-top: -200px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .mt-price {
    margin-top: 100px;
  }

  .text-order {
    font-size: 20px;
    padding-top: 5px;
  }

  .text-price2 {
    font-size: 16px;
  }

  .subtitle-section {
    font-size: 18px;
  }

  .text-why {
    margin-top: 10px;
    text-align: justify;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .title-section-why {
    font-size: 22px;
  }

  .subtitle-section-why {
    font-size: 16px;
  }

  .banner-why {
    height: 500px;
    margin-top: 50px;
  }

  .mt-why-text {
    margin-top: 25px;
    text-align: center;
  }

  .ilustrasi-why {
    float: none;
    width: 25%;
  }

  .btn-call {
    width: 250px;
    height: 45px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2) !important;
    background: linear-gradient(270deg, #594cca 0%, #a56fec 100%);
  }

  .btn-call:hover {
    scale: 1.015;
    -ms-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    -o-transform: scale(1.015);
  }

  .call {
    color: #ffffff;
    padding-top: 2px;
  }

  .mt-why {
    margin-top: -425px;
  }

  .mt-row-content {
    margin-top: 25px;
  }

  .mt-content {
    margin-top: 50px;
  }

  .title-content {
    font-size: 16px;
  }

  .subtitle-content {
    font-size: 14px;
  }

  .mt-ellips {
    float: left;
    margin-top: -350px;
  }

  .mt-gallery {
    margin-top: 100px;
  }

  .mt-gallery-content {
    margin-top: 10px;
  }

  .img-gallery {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  #logo-identitas {
    margin-top: 65px;
  }

  .title-banner {
    font-size: 32px;
  }

  .subtitle-banner {
    font-size: 24px;
  }

  .img-banner {
    width: 75%;
    margin-top: -20px;
  }

  .mt-content-banner {
    margin-top: -275px;
  }

  .banner {
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .btn-order {
    width: 85%;
    height: 50px;
    margin-bottom: 25px;
  }

  .mt-price {
    margin-top: 100px;
  }

  .text-order {
    font-size: 20px;
    padding-top: 5px;
  }

  .text-price2 {
    font-size: 16px;
  }

  .subtitle-section {
    font-size: 18px;
  }

  .text-why {
    margin-top: 10px;
    text-align: justify;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .title-section-why {
    font-size: 22px;
  }

  .subtitle-section-why {
    font-size: 16px;
  }

  .banner-why {
    height: 400px;
    margin-top: 50px;
  }

  .mt-why-text {
    margin-top: 25px;
    text-align: center;
  }

  .ilustrasi-why {
    float: none;
    width: 75%;
    margin-top: 10%;
  }

  .btn-call {
    width: 250px;
    height: 45px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2) !important;
    background: linear-gradient(270deg, #594cca 0%, #a56fec 100%);
  }

  .btn-call:hover {
    scale: 1.015;
    -ms-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    -o-transform: scale(1.015);
  }

  .call {
    color: #ffffff;
    padding-top: 2px;
  }

  .mt-why {
    margin-top: -365px;
  }

  .mt-row-content {
    margin-top: 0px;
  }

  .mt-content {
    margin-top: 50px;
  }

  .title-content {
    font-size: 16px;
  }

  .subtitle-content {
    font-size: 14px;
  }

  .mt-ellips {
    float: left;
    margin-top: -350px;
  }

  .mt-gallery {
    margin-top: 100px;
  }

  .mt-gallery-content {
    margin-top: 10px;
  }

  .img-gallery {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  #logo-identitas {
    margin-top: 65px;
  }

  .title-banner {
    font-size: 32px;
  }

  .subtitle-banner {
    font-size: 24px;
  }

  .img-banner {
    width: 75%;
    margin-top: -20px;
  }

  .mt-content-banner {
    margin-top: -275px;
  }

  .banner {
    height: 350px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .btn-order {
    width: 85%;
    height: 50px;
    margin-bottom: 25px;
  }

  .mt-price {
    margin-top: 200px;
  }

  .text-order {
    font-size: 20px;
    padding-top: 5px;
  }

  .text-price2 {
    font-size: 16px;
  }

  .subtitle-section {
    font-size: 18px;
  }

  .text-why {
    margin-top: 10px;
    text-align: justify;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .title-section-why {
    font-size: 22px;
  }

  .subtitle-section-why {
    font-size: 16px;
  }

  .banner-why {
    height: 400px;
    margin-top: 50px;
  }

  .mt-why-text {
    margin-top: 25px;
    text-align: center;
  }

  .ilustrasi-why {
    float: none;
    width: 50%;
    margin-top: 10%;
  }

  .btn-call {
    width: 250px;
    height: 45px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2) !important;
    background: linear-gradient(270deg, #594cca 0%, #a56fec 100%);
  }

  .btn-call:hover {
    scale: 1.015;
    -ms-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    -o-transform: scale(1.015);
  }

  .call {
    color: #ffffff;
    padding-top: 2px;
  }

  .mt-why {
    margin-top: -350px;
  }

  .mt-row-content {
    margin-top: 0px;
  }

  .mt-content {
    margin-top: 50px;
  }

  .title-content {
    font-size: 16px;
  }

  .subtitle-content {
    font-size: 14px;
  }

  .mt-ellips {
    float: left;
    margin-top: -350px;
  }

  .mt-gallery {
    margin-top: 100px;
  }

  .mt-gallery-content {
    margin-top: 10px;
  }

  .img-gallery {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  #logo-identitas {
    margin-top: 100px;
  }

  .title-banner {
    font-size: 32px;
  }

  .subtitle-banner {
    font-size: 24px;
  }

  .img-banner {
    width: 50%;
    margin-top: -50px;
  }

  .mt-content-banner {
    margin-top: -275px;
  }

  .banner {
    height: 350px;
  }
}
