<style scoped src="@/assets/css_video/video.css"></style>
<template>
  <div>
    <div class="container mt-content">
      <div class="d-flex">
        <div class="flex-33" data-aos="zoom-in" data-aos-duration="1500">
          <img class="img-content" src="@/assets/img_video/waiting.svg" />
          <h5 class="title-content">UNLIMITED REVISION</h5>
          <h5 class="subtitle-content">
            Dengan sistem kerja tim yang efisian dan berusaha memberi yang
            terbaik untuk klien kami.
          </h5>
        </div>
        <div class="flex-33" data-aos="zoom-in" data-aos-duration="1500">
          <img class="img-content" src="@/assets/img_video/waiting.svg" />
          <h5 class="title-content">BANYAK PILIHAN VO</h5>
          <h5 class="subtitle-content">
            File master editable di berikan untuk mempermudah klien mencetak dan
            memperbaiki file.
          </h5>
        </div>
        <div class="flex-33" data-aos="zoom-in" data-aos-duration="1500">
          <img class="img-content" src="@/assets/img_video/waiting.svg" />
          <h5 class="title-content">CUSTOM KARAKTER</h5>
          <h5 class="subtitle-content">
            Anda bebas konsultasi dengan tim kami agar tim kami memahami
            kebutuhan anda.
          </h5>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContentVideo",
  components: {},
};
</script>
