<style scoped src="@/assets/css_video/video.css"></style>
<template>
  <div>
    <div class="container mt-video">
      <h3 class="title-section">Our Gallery</h3>
      <h5 class="subtitle-section">
        Client yang telah percaya dengan product kami
      </h5>
      <div class="mt-videobox" data-aos="fade-up" data-aos-duration="1500">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-interval="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <iframe
                class="h-video"
                src="https://www.youtube.com/embed/1tk1pqwrOys"
                frameborder="0"
                gesture="media"
                allow="autoplay; encrypted-media"
                allowfullscreen
                id="video1"
                ref="video1"
                @click="playVideo()"
              ></iframe>
            </div>
            <div class="carousel-item ">
              <div id="video2">
                <iframe
                  width="100%"
                  class="h-video"
                  src="https://www.youtube.com/embed/hP6VM6YAMIE"
                  frameborder="0"
                  gesture="media"
                  allow="autoplay; encrypted-media"
                  allowfullscreen
                  ref="video2"
                  
                ></iframe>
              </div>
            </div>
            <div class="carousel-item ">
              <div id="video3">
                <iframe
                  width="100%"
                  class="h-video"
                  src="https://www.youtube.com/embed/3JmvuPaFbZw"
                  frameborder="0"
                  gesture="media"
                  allow="autoplay; encrypted-media"
                  allowfullscreen
                  ref="video3"
                ></iframe>
              </div>
            </div>
          </div>
          <div class="text-left1 mt-3">
            <h4 class="text-video" @click="pauseVideo()">
              <strong>Bagaimana Proses Pembuatan Video Kami?</strong>
            </h4>
            <h5 class="subtitle-section">
              Ada 3 langkah utama yang kami lakukan untuk pembuatan video
              animasi dari awal sampai akhir. Dan kami memberikan unlimited
              revision untuk tiap tahapan.
            </h5>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <ol class="carousel-indicators">
                <li
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                ></li>
                <li
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                ></li>
                <li
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                ></li>
              </ol>
            </div>
            <div class="col-md-6 desktop">
              <a
                href="#carouselExampleIndicators"
                class="btn-navigator right"
                data-bs-slide="next"
                @click="nextVideoClicked()"
              >
                <img class="" src="@/assets/img_video/right.svg" />
              </a>
              <a
                href="#carouselExampleIndicators"
                class="btn-navigator left"
                data-bs-slide="prev"
                @click="prevVideoClicked()"
              >
                <img class="" src="@/assets/img_video/left.svg" />
              </a>
            </div>
            <div class="col-md-6 mt-3 mobile">
              <a
                href="#carouselExampleIndicators"
                class="btn-navigator"
                data-bs-slide="prev"
                 @click="prevVideoClicked()"
              >
                <img class="left" src="@/assets/img_video/left.svg" />
              </a>
              <a
                href="#carouselExampleIndicators"
                class="btn-navigator"
                data-bs-slide="next"
                 @click="nextVideoClicked()"
              >
                <img class="right" src="@/assets/img_video/right.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="mt-ellips" src="@/assets/img_video/ellips.svg" />
  </div>
</template>

<script>
export default {
  name: "GalleryVideo",
  data: () => ({
    play: true,
    videoPos: 0
  }),
  components: {},
  methods: {
    pauseVideo: function() {
      if (this.play == true) {
        this.play = false;
      } else {
        this.play = true;
      }
    },
    nextVideoClicked: function() {
      // // console.log(this.$refs);

      let size = Object.keys(this.$refs).length;
      if (this.videoPos == size) {
        this.videoPos = 0;
      }
      // console.log("Size : " + size);
      console.log(`Position Next : ${this.videoPos}`);

      let o = Object.values(this.$refs)[this.videoPos];
      let _tempSrc = o.getAttribute("src");

      setTimeout(() => {
        o.setAttribute("src", "#");
        o.setAttribute("src", _tempSrc);
      }, 750);

      this.videoPos++;
    },
    prevVideoClicked: function() {
      let size = Object.keys(this.$refs).length;

      console.log("Size : " + size);
      if (this.videoPos == size) {
        this.videoPos = size - 1;
      }
      console.log(`Position Prev : ${this.videoPos}`);

      let o = Object.values(this.$refs)[this.videoPos];
      let _tempSrc = o.getAttribute("src");

      setTimeout(() => {
        o.setAttribute("src", "#");
        o.setAttribute("src", _tempSrc);
      }, 750);

      if (this.videoPos == 0) {
        this.videoPos = size;
      }
      this.videoPos--;
    },
    playVideo: function() {}
  },
  mounted() {},
};
</script>
