<style scoped src="@/assets/css_video/video.css"></style>
<template>
  <div>
    <div class="bg-process">
      <div class="container p-process">
        <div class="text-center">
          <h3 class="title-section">Bagaimana Proses Pembuatan Video?</h3>
          <h5 class="subtitle-section">
            Ada 3 langkah utama yang kami lakukan untuk pembuatan video animasi
            dari awal sampai akhir
          </h5>
          <div class="row mt-process">
            <div
              class="col-md-4"
              data-aos="zoom-in-down"
              data-aos-duration="1500"
            >
              <img src="@/assets/img_video/script.svg" />
              <div class="text-left1">
                <h5 class="title-process">Langkah #1 : Script</h5>
                <h5 class="subtitle-process">
                  Kami akan membuatkan script / storyboard dengan teknik
                  copywriting yang handal sehingga pesan promosi anda akan
                  tersampaikan dengan baik kepada audience. Script ini juga yang
                  nantinya menjadi landasan dalam perekaman voice dan pembuatan
                  animasinya.
                </h5>
              </div>
            </div>
            <div
              class="col-md-4"
              data-aos="zoom-in-down"
              data-aos-duration="1500"
            >
              <img src="@/assets/img_video/VO.svg" />
              <div class="text-left1">
                <h5 class="title-process">Langkah #2 : Voice over</h5>
                <h5 class="subtitle-process">
                  Setelah script selesai, selanjutnya tim pengisi suara kami,
                  yang terdiri dari orang-orang broadcaster, akan merekam suara
                  (voice over) supaya pesan yang ingin disampaikan menjadi lebih
                  powerful dan animasinya menjadi lebih menarik.
                </h5>
              </div>
            </div>
            <div
              class="col-md-4"
              data-aos="zoom-in-down"
              data-aos-duration="1500"
            >
              <img src="@/assets/img_video/animation.svg" />
              <div class="text-left1">
                <h5 class="title-process">Langkah #3 : Animation</h5>
                <h5 class="subtitle-process">
                  Setelah perekaman suara selesai, langkah terakhir yaitu
                  pembuatan animasinya, termasuk di dalamnya membuat custom
                  asset / karakter, menambahkan sound effect, sinkronisasi voice
                  over, serta backsound.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProcessVideo",
  components: {},
};
</script>
