<style scoped src="@/assets/css_navbar/navbar.css"></style>
<template>
  <div id="app">
    <div
      v-if="this.$route.path == '/order' || this.$route.path == '/preview'"
    ></div>
    <div v-else>
      <div
        class="topnav"
        :class="{ 'shadow-header': navbarShadow }"
        id="myTopnav"
      >
        <div class="container">
          <router-link to="/">
            <img
              @click="gotoHome()"
              class="logo"
              src="@/assets/img_navbar/Unipics.svg"
            />
          </router-link>

          <div class="float">
            <router-link to="/website">
              <h6 @click="onNavbarClicked" class="text-navbar">WEBSITE</h6>
            </router-link>
            <router-link to="/logo-identitas">
              <h6 @click="onNavbarClicked" class="text-navbar">
                LOGO & IDENTITAS
              </h6>
            </router-link>
            <router-link to="/video-company-profile">
              <h6 @click="onNavbarClicked" class="text-navbar">
                VIDEO COMPANY PROFILE
              </h6>
            </router-link>
            <!-- <a>
            <h6 class="text-navbar">CUSTOMER STORIES</h6>
          </a> -->
            <router-link to="/culture">
              <h6 @click="onNavbarClicked" class="text-navbar">CULTURE</h6>
            </router-link>

            <a class="pt-2 pb-nav">
              <div class="btn btn-login">
                <h6 class="login">LOGIN</h6>
              </div>
            </a>
          </div>

          <a class="icon" @click="navbarMobile()" id="close">
            <img class="menu" src="@/assets/img_navbar/menu.svg" />
          </a>
        </div>
      </div>
    </div>

    <router-view />
  </div>
</template>
<script src="./js/App.js"></script>
